<%if @ref.present? %>
    <%= form_for @tw_referral, :html => {:class => "forms form tw_height"} do |ref| %>
        <div id="showErrors"></div>
        <div class="border app_header">
            <h2 class="heading headmsg">Add A New User</h2>
            <div class="form pd15 leadform">
                 <p><%= ref.label "Name:" %><%= ref.text_field :name %></p>
                 <p><%= ref.label "Email:" %><%= ref.text_field :email %></p>
                 <p><%= ref.label "Referred By:" %>
                    <%= ref.hidden_field :referrer_id, :value=>@ref.id %>
                    <%= text_field_tag :referrer, @ref.name, :readonly=>true %>
               </p>
               <p class="ref_tweet_submit">
                <input type="button" size="20" class="btn yellow social_ref_btn" value="Submit"/>
               </p>
             </div>       
               <br/>
        </div>    
    <%end%>   
<%else%>
    <span style="font-size:25px;right:25%;top:200px;position:fixed;">You are requesting with wrong link. Please try with another link.</span>
<%end%>




