<%= form_for @tw_referral, :html => {:class => "forms"} do |ref| %>
    <%=render "common_templates/showerrors", :object=>@tw_referral%>

    <div class="border app_header">
        <h2 class="heading headmsg">Add A New User</h2>
        <div class="form pd15 leadform">
             <p><%= ref.label "Name:" %><%= ref.text_field :name %></p>
             <p><%= ref.label "Email:" %><%= ref.text_field :email %></p>
             <p><%= ref.label "Referred By:" %><%= ref.text_field :referrer, :value=>@ref.id, :readonly=>true %></p>
             <br/><br/>
         </div>       
          <input type="submit" size="20" class="btn yellow" value="Submit"/> 
            <br/><br/>
    </div>    
    <%end%>    