<span id="creditCardDiv">
	<%= hidden_field_tag "planPerUserId",  @planPerUser.id%>
	<%= sub.hidden_field :stripe_card_token %>
	<%= sub.hidden_field :plan_per_user_range_id, :value=>@planPerUser.id %>

	<p><%= label_tag :Type %><%= select_tag "credit_card", options_for_select([ "VISA", "MasterCard","American Express", "Discover" ], "MasterCard") %></p>
	<p>
		<%= label_tag :card_number, "Credit Card Number" %>
		<%= text_field_tag :card_number, nil, name: nil %>
	</p>

	<p>
		<%= label_tag :person_name, "Name" %>
		<%= text_field_tag :customerName, nil, name: nil %>
	</p>

	<p>
		<%= label_tag :card_month, "Card Expiration" %>
		<%= select_month nil, {use_month_numbers: true}, {name: nil, class: "input-small mr10",id: "card_month"}%>
		<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, class:"input-small", id: "card_year"} %>
		<%= label_tag :card_code, "CVV", :class =>"input-small" %>
		<%= text_field_tag :card_code, nil, name: nil , :class => "input-small"%>
	</p>
</span>