<h2><span class="number">1</span>Your details</h2>
<%if f.present?%>
<p><%= f.label :Name %><%= f.text_field :name %></p>
<p><%= f.label :Email %><%= f.email_field :email %></p>
<p><%= f.label :Password %><%= f.password_field :password %></p>
<%end%>
<%=render "common_templates/select_users"%>