<div class="container">
	<div class="row-fluid">
		<div class="span12 signup_heading">
			<h3>Thank you for choosing LEAD<i class="txt_red">PUMP</i></h3>
			<h4>You are just 60 seconds away from your new account.</h4>
			<div class="signupCon pr">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form form_block test", }) do |f| %>

				<div class="row-fluid">
					<div class="icon-largest badge">
						<span>Thank <br> you!</span>
					</div>
					<span class="span7">
						<%= devise_error_messages! %>
						<div class="errors" id="stripe_error"></div>
						<%= render :template => "devise/registrations/_signupUserFields", :locals => { :f => f} %>	
						
						<%= f.fields_for :addresses, Address.new do |adr| %>
						<%= render :template => "common_templates/_addressFields", :locals => { :adr => adr} %>	
						<% end %>

						<h2><span class="number">3</span>Your billing information</h2>
						<%= render :template => "common_templates/_labelsForDiscounts", :locals => { :f => f} %>	
						<%= f.fields_for :subscription, Subscription.new do |sub| %>
						<%= render :template => "devise/registrations/_creditCardDetails", :locals => { :sub => sub} %>	
						<%end%>
						<span id="couponDiv" style="display:none">
							<p><%= label_tag :couponCode, "Coupon Code" %><%= text_field_tag :couponCode, nil, name: nil %></p>	
						</span>
						<div class="clear"></div>
					</span>
					<%= render :template => "devise/registrations/_signUpRightContent" %>
					<hr>

					<div class="row-fluid">
						<div></div>
						<div class="span3 w19">
							<div class="priceDetail">
								<strong class="tAmount"></strong>
								<p><span class="payAmountTxt"></span> after trial</p>
							</div>
							<div class="clear"></div>                            
						</div>

						<div class="span8">
							<p>Your 14-day trial will start 12/19/2013 and last until 1/1/2014. If you don’t want to continue using LEADPUMP, just
								cancel before your trial ends and you will be refunded. Otherwise, you’ll pay just <span class="payAmountTxt"></span> for the services as
								long as your account is open. You can upgrade or downgrade at any time or cancel with a 60-day notice.</p>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12 acceptTerms">
								<label class="pull-left"><input type="checkbox" name="acceptConditions">I have read and accept the <a class="link" href="#">Terms and Conditions</a></label>
								<span class="submitSignUpForm">
									<a class="btn green pull-right" href="" id="signupBtn">Create My Account</a>
								</span>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>

		