
<div class="tab-content">
    <div class="tab-pane <%=params[:stats] == 'invite' ? '' : 'active'%>" id="vip_stats">
        <div class="row-fluid">
          <div class="span4">
            <input type="text" placeholder="Search Account & Associate" id="vipleadlistadmin" class="input-large" autocomplete="off">
          </div>
          <div class="pull-right">
            <input type="text" id = "from_date" class="filter-date input-medium" placeholder= "From Date" >
            <input type="text" id = "to_date" class="filter-date input-medium" placeholder= "To Date">
          </div>
        </div>
      <span id="filter_vip">
        <%= render "vipstats" %>
      </span>
      <%= will_paginate @leads, :previous_label=>"Previous", :next_label=>"Next", :style=>"float:right;",:params => { :stats => "vip"} %>
    </div>
    <div class="tab-pane <%=params[:stats] == 'invite' ? 'active' : ''%>" id="invite_stats">
      <!-- <div class="filter">
        <input type="text" placeholder="Search by Account or Associate Name" id="vipleadlistadmin" class="span4" autocomplete="off">
        <input type="text" id = "from_date" class="filter-date span4" placeholder= "From Date" >
        <input type="text" id = "to_date" class="filter-date span4" placeholder= "To Date">
      </div> -->
      <span id="filter_vip">
        <%= render "allinvites" %>
      </span>
      <%= will_paginate @stats, :previous_label=>"Previous", :next_label=>"Next", :style=>"float:right;", :params => { :stats => "invite"} %>
    </div>
</div>





