<table class="table table-striped" id="filter_user">
  <thead>
    <tr>
      <td>Date</td>
      <td>User</td>
      <td>Invoice Id</td>
      <td>Subscription Id</td>
      <td>Amount ($)</td>
    </tr>
  </thead>
  <tbody>
    <% if @users.present? %>
    <% @users.each do |sub| %>
    <tr>
      <td><%= sub.user.created_at.strftime("%Y/%m/%d") %></td> 
      <td><%= sub.user.name.humanize %></td>
      <td><%= sub.charge_id %> </td>
      <td><%= sub.customer_id %> </td>
      <td><%= sub.payment %> </td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="4"> No record found. </td>
    </tr>
    <% end %>
  </tbody>
</table>