<table class="table table-striped">
    <thead>
        <tr>
            <td>VIP name</td>
            <td>Associate</td>
            <td>Company</td>
            <td>Source</td>
            <td>Status</td>
            <td>Date</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <%if @leads.present? %>
            <% @leads.each do |lead|%>
                <tr id="invite_<%= lead.user.id %>" data-action="invitepopup">
                    <td><%= lead.lead.name.humanize %></td>
                    <td> <%= lead.user.name.humanize %></td>
                    <td><%= lead.user.fetchCompany.name %></td>
                    <td><%= lead.lead.lead_source %></td>
                    <td><%= lead.lead.status %></td>
                    <td><%= lead.lead.created_at.strftime("%Y/%m/%d")%></td>
                    <td><%= link_to "Invite Stats", "javascript:void(0)", html={ :class => "invite_stats" } %></td>
                </tr>
            <% end %>
        <% else  %>
        <tr>
            <td colspan="7">No record found.</td>
        </tr>
        <% end %>
    </tbody>
</table>
