<div class="container wrapper">
<div class="row-fluid">
    	<div class="span12">
	        <ul class="settings_menu">
	            <li>
	                <%=link_to "Manage User Accounts", admin_user_path, :class=> "btn yellow" %>
	            </li>
	             <li>
	                <%=link_to "Manage Payments", admin_payment_path, :class=> "btn yellow"%></h4>
	            </li>
	             <li>
	                <%=link_to "Manage Statistics", admin_statistic_path, :class=> "btn yellow" %>
	            </li>
	             <li>
	                <%=link_to "Manage Plans and Prices", admin_plan_path, :class=> "btn yellow"%></h4>
	            </li>
	             <li>
	                <%=link_to "Manage Online Mall", onlinemall_index_path, :class=> "btn yellow"%></h4>
	            </li>

	        </ul>
    	</div>
    </div>
</div>
