<!-- <div class="container nav_second">
    <div class="row-fluid">
    <h4> <a href="/plans/new"> Plans </h4>
    < <h5> <a href="/plans/new?maxUsers=3"> Business Plan </h5>
    <h5> <a href="/plans/new?maxUsers=4"> Pro Plan </h5> 
    </div>
</div> -->

<div class="container wrapper">
	<div class="row-fluid">
		<h3 class="admin_title">Manage Plans</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Plan Name</th>
					<th>No of Leads</th>
					<th>No of users</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @planlist.each do |pl| %>
					<% pl.each do |plan|%>
						<tr id="viewPlan_<%=plan.id%>" data-action="planpopup">
							<td><%= plan.plan.name %></td>
							<td id="leads_<%= plan.id%>"><%= plan.plan.lead_management %></td>
							<td><%= "#{plan.user_range.start_range}-#{plan.user_range.end_range}" %></td>
							<td id="price_<%= plan.id%>"><%= plan.price %></td>
							<td><%=link_to "Edit", "javascript:void(0)",html={:class=>"planedit"}%></td>
						</tr>
					<%end%>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<%= render "common_templates/popupContainer"%>



