<div class="container nav_second">
    <div class="row-fluid">
        <div class="span12">
           <div class="border">
                <table class="table table-striped">
                    <thead>
                    <tr><td>VIP name</td><td>Associate</td><td>Company</td><td>Source</td><td>Status</td><td>Date</td></tr>
                    </thead>
                    <%if @vipleads.present?%>
                            <% @vipleads.each do |vip|%>
                    <tbody>
                    <tr> <td><%=vip.last_name.humanize %></td> 
                         <td><%=vip.first_name.humanize %></td>
                         <td><%= vip.user.name.humanize %> </td>
                         <td><%= vip.user.name.humanize %> </td>
                         <td><%=vip.status %> </td>
                         <td><%= vip.created_at.strftime("%m/%d/%Y") %> </td>
                     </tr>
                    </tbody>
                    <% end %>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>

