<%= form_for @lead, :url => '/vipleads', :method => :post, :html => { :class => "forms form social_inviter"} do |vip| %>
    <%=render "common_templates/showerrors", :object=>@lead%>
    <div class="viprow">
        <p>
            <label>Member Name*</label>
            <%= vip.text_field :associate, class: "input-large", style:"float:left;"%>
            <span class="associate_error" style="float: left; clear: both; margin: -10px 0px 0px 2px;color:#B40431"></span>
        </p>
    </div>   
    <%(1..current_user.fetchCompany.vipcount).each do |row|%>
        <div class="viprow">
            <p><label>First Name</label><%= vip.text_field :name, name: "vip_#{row}[name]", class: "input-large fname" %></p>

            <%=vip.hidden_field :lead_source, name:"vip_#{row}[lead_source]", value:"vip"%>
            <p><label>Last Name</label><%= vip.text_field :lname, name: "vip_#{row}[lname]", class: "input-large lname" %></p>
            <p><label>Phone</label><%= vip.text_field :phone, name: "vip_#{row}[phone]", class: "input-large phone isNormalText" %></p>
        </div> 
    <%end%>
    <div class="clear"></div>
    <span class="proceed_step1">
        <%= link_to "Proceed to Next Step", "javascript:void(0)", :class=>"btn yellow", :id=>"proceed_step_1" %>
    </span>
    <span class="proceed_step1" id="skip">
        <%= link_to "Skip", "javascript:void(0)", :class=>"btn yellow", :id=>"skip_step_1" %>
    </span>
<% end %>

