<%= form_for @vipleads, :url => '/vipleads', :method => :post, :html => { :class => "forms form social_inviter"} do |vip| %>
    <%=render "common_templates/showerrors", :object=>@vipleads%>
    <p><%= vip.label "Referrer's Name" %><%= vip.text_field :user_id, :value => current_user.name, class: "input-large", :disabled=>true %></p>

    <%(1..3).each do |row|%>
        <div>
            <p><%= vip.label "First Name" %><%= vip.text_field :first_name, name: "vip_#{row}[first_name]", class: "input-large" %></p>
            <p><%= vip.label "Last Name" %><%= vip.text_field :last_name, name: "vip_#{row}[last_name]", class: "input-large" %></p>
            <p><%= vip.label "Phone" %><%= vip.text_field :phone, name: "vip_#{row}[phone]", class: "input-large" %></p>
        </div> 
    <%end%>
    <div class="clear"></div>
    <span class="proceed_step1">
        <%= link_to "Proceed to Next Step", "javascript:void(0)", :class=>"btn yellow", :id=>"proceed_step_1" %>
    </span">
<%end%>