<div class="pre_formated_email social-email hide">
 <div class="email_example span4">
    <h3>Send this offer to your friends</h3>
    <div>
        <p><strong>From:</strong> Bret Beshey &lt;<%=current_user.getCompanyEmail%>&gt;</p>
        <p><strong>Subject:</strong> An invitation from  me to you</p>
        <div class="email_msg">
            <p>Hey there good news, i just joined "your gym name here". As one of my friends you qualify to receive a FREE
                7 day membership pass. I thought you might be interested and would join me.</p>
                <p>Hope to see you in the club soon.</p>
                <p>Click the link below to get your pass now.</p>
                <p>Talk to you soon!</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <h3>Sharing is Easy!</h3>
        <p>Start by telling us where to send your rewards.</p>
        <form class="form">
            <%= text_field_tag :name, current_user.name%>
            <%= text_field_tag :last_name, nil%>
            <%= text_field_tag :email, current_user.email%>
            <%=link_to "Get Started Now!", GmailContacts::Google.authentication_url("http://162.243.60.57:3000/vipleads/new"), :class=>"btn yellow"%>
        </form>
    </div>
</div>

<%=render "common_templates/popupContainer"%>