<script>
    tweet_token = "<%=current_user.name%>"
    WL.logout();
    FB.logout(function(response) {
    });
</script>
<img src="https://mail.google.com/mail/u/0/?logout&hl=en" style="display:none;"/> 
<img src="https://login.yahoo.com/config/login?logout=1" style="display:none;"/> 
<div class="social_options">
    <h3 class="mb0">Invite your friends in an Instant… </h3>
    <p>Choose how you would like to invite your friends, family members or co-workers.</p>
    <ul>
        <li name="social-email">
            <%=link_to "Send a customize and personalized email notification and invite.", "javascript:void(0)", :class=>"email_icon"%>
        </li>
        <li name="social-fb">
            <%=link_to "Post  the notification and invite to your wall...", "javascript:void(0)", :class=>"facebook_icon"%>
        </li>
        <li name="social-twit">
            <%=link_to "Tweet the notification and invite...", "javascript:void(0)", :class=>"twitter_icon"%>
        </li>
    </ul>
</div>

<%=render "socialInviterEmail-yahoo"%>
<%=render "socialInviterFacebook"%>
<%=render "socialInviterTwitter"%>


