<script>
 function fbs_click() {
        u="http://signin.leadpump.com/referrals/new?token=<%= current_user.token %>&fb=true";
        t=document.title;
        m="signin.leadpump.com/assets/logo.png",
        window.open("http://www.facebook.com/sharer.php?s=100&p[url]=" + u + "&p[title]=" + t + "&p[summary]=I just joined Your gym name here, here a free 7-day pass for you.Come join me!" + "&p[images][0]="+m,'sharer','toolbar=0,status=0,width=626,height=436');
        return false;
    }  
    tweet_token = "<%=current_user.name%>"
</script>
<div class="social_options">
    <h3>Choose how you would like to invite your friends, family members or co-workers…</h3>
    <ul>
        <li name="social-email">
            <%=link_to "Send a pre-formatted e-mail…", "javascript:void(0)", :class=>"email_icon"%>
        </li>
        <li name="social-fb">
            <%=link_to "Post to Friends wall…", "javascript:void(0)", :class=>"facebook_icon"%>
        </li>
        <li name="social-twit">
            <%=link_to "Tweet it…", "javascript:void(0)", :class=>"twitter_icon"%>
        </li>
    </ul>
</div>

<%=render "socialInviterEmail"%>
<%=render "socialInviterFacebook"%>
<%=render "socialInviterTwitter"%>
