	
<tr class="viewLead listView" id="viewLead_<%=lead.lead.id%>"  data-action="leadpopup">
	<td><%= lead.lead.name.humanize %></td>
    <td><%= lead.lead.associate.present? ? lead.lead.associate.humanize : "" %></td>
    <td><%= lead.lead.phone %></td>
    <td><%= lead.lead.status %></td>
    <td class="leadAction">
	  <%=link_to "Delete", "javascript:void(0)",html={:class=>"leadAction leadDelete"}%> | 
	  <%=fetchTasklink(lead.lead.id)%>
	</td>   
</tr>

