
	<tr id="viplead_<%=vip.id%>">
		<td><%=vip.first_name%></td>
		<td><%=vip.last_name%></td>
		<td><%=vip.phone%></td>
		<td><%=vip.status%></td>
		<td>
			<a class="link viewVipLead" href="javascript:void(0)">View</a>
		</td>
	</tr>
