	
	<tr class="viewLead listView" id="viewLead_<%=vip.lead.id%>"  data-action="leadpopup">
		<td>
	  		<span id="emp_<%=vip.lead.id%>"><%=fetchLeadEmployee(vip.lead.id)%>
		</td>
		<td><%=vip.lead.name %></td>
		<td><%=vip.lead.phone%></td>
		<td class="leadActive leadAction" id="status_<%=vip.lead.id%>">
		  <span class="leadAction span"><%= vip.lead.status %></span>
		</td>
		<td class="leadAction">
		  <%=link_to "Delete", "javascript:void(0)",html={:class=>"leadAction leadDelete"}%> | 
		  <%=fetchTasklink(vip.lead.id)%>
		</td>    
	</tr>

