
<div class="container wrapper">
    <div class="row-fluid">
        <div class="span12">
           <div class="logo_listing m_item_main">
            <%if @companymallitem.present?%>
            <h2 style="text-align:center;">Download or Print Coupons here.</h2>
            <%@companymallitem.each do|ol|%>
            <%mall = Onlinemall.find(ol.onlinemall_id)%>
                <div class="logo_con" style="width:95%;">
                    <%if mall.mallpic.present?%>
                    <%= image_tag mall.mallpic.last.avatar.url(), :style=>"float:left;max-height:100px;max-width:250px" %>
                    <%else%>
                    <img src="/assets/not-found.png" style="float:left;max-height:100px;max-width:250px">
                    <%end%>
                    <div class="action_btn viewmallitem" id="view_<%=mall.id%>" style="float:left;width:auto;margin-left:20px;">
                        <h3 title="<%=mall.title%>" style="word-wrap: break-word;"><%=mall.title%></h3>
                        <%=link_to "javascript:void(0)" ,:class=>"btn yellow pull-left" do%>   
                        <i class="icon-download" ></i>
                        Download or Print
                        <%end %>
                    </div>
                </div>
            <%end%>
            <%else%>
                <h2 style="text-align:center;">Sorry! No items presents.</h2>
            <%end%>
            </div>
        </div>
    </div>
</div>

