<%if @stats.present?%>
<%@stats.each do |stat|%>
<tr><td><%=stat.source%></td>
    <td><%=stat.created_at.strftime("%Y-%m-%d")%>
    </td><td>Default Location</td>
    <td><%=stat.user.name%></td>
    <td><%=stat.e_sents.present? ? stat.e_sents : 0%></td>
    <td><%=stat.e_oppened.present? ? stat.e_oppened : 0%></td>
    <td><%=stat.e_views.present? ? stat.e_views : 0%></td>
    <td><%=stat.e_converted.present? ? stat.e_converted : 0%></td>
</tr>
<%end%>
<%else%>
<tr><td colspan="8">No stats available</td></tr>
<%end%>