<%= javascript_include_tag 'highcharts', 'exporting', 'Chart', 'jquery.carouFredSel-6.2.1-packed' %>

<script type="text/javascript" language="javascript">
$(function() {
    $('#foo5').carouFredSel({
        width: '100%',
        scroll: 1
    });

});
</script>


<style type="text/css" media="all">

</style>
<div class="container wrapper">
    <div class="row-fluid">
        <div class="span4">
            <div class="graph_con">
                <!-- <canvas id="canvas" height="300" width="380"></canvas> -->
                <div id="container" style="min-width: 380px; height: 400px;"></div>
                <script type="text/javascript">
                $(function () {
                    d = "<%= raw @statsgraphdata['dates'.to_sym] %>"
                    sentsdata = "<%= raw @statsgraphdata['e_sent'.to_sym] %>";
                    sentsdata = sentsdata.split(",").map(Number)
                    
                    converteddata = "<%= raw @statsgraphdata['e_con'.to_sym] %>"
                    converteddata = converteddata.split(",").map(Number)
                    // console.log(converteddata)
                    
                    nonqualified = "<%= raw @statsgraphdata['e_view'.to_sym] %>"
                    
                    nonqualified = nonqualified.split(",").map(Number)
                    // console.log(nonqualified)
                    $('#container').highcharts({
                        chart: {
                            type: 'area'
                        },
                        title: {
                            text: 'Email Stats'
                        },

                        xAxis: {
                            title: {
                                text:  d
                            },
                            labels: {
                                formatter: function() {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Count'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                pointFormat: '{point.y} {series.name} on {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: 1,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }                }
                },
                colors: [
                       '#2f7ed8', 
                       '#0d233a', 
                       '#8bbc21'
                    ],
                series: [{

                    name: 'Sent',
                    data: sentsdata
                }, {
                    name: 'Converted',
                    data: converteddata
                },{
                    name: 'Opened',
                    data: nonqualified
                }]
            });
});

</script>
</div>
</div>
<div class="span8">
    <p>
        <%= link_to "Export as comma Separated (Excel) File", csvdownload_path(format: "csv"),:class=>"btn yellow btn-small" %>
    </p>
            <!-- <div class="alert">
                <button data-dismiss="alert" class="close closealert    " type="button">×</button>
                <p>Compaign Statistics Listed below are the raw statistics for your campaigns. Would you like to filter this list by data ranges or other mechanisms in the future <a class="link" href="#">Yes</a> ?  </p>
            </div> -->
            <div class="row-fluid">
                <div class="span5 pull-left optFilter">
                    <form class="form"><span>Show</span><select><option>10</option><option>20</option><option>50</option></select>
                        <span>entries</span></form>
                    </div>
                <!-- <div class="span4 pull-right optFilter">
                    <form class="form text-right"><span>Search</span><input type="search" id="statsearch" placeholder="Search" class="input-medium"></form>
                </div> -->
            </div>
            <div class="border statcontent">
                <%=render "statContent"%>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
