<td><%=lead.name%></td>
<td><%=lead.phone%></td>
<td><%=lead.email%></td>
<td><%=lead.lead_source%></td>
<td><%=lead.goal%></td>
<td class="leadActive leadAction" id="status_<%=lead.id%>">
  <%=render "common_templates/changeStatus", :lead=>lead, :user=>nil%>
</td>
<td>
  <span id="emp_<%=lead.id%>"><%=fetchLeadEmployee(lead.id)%>
</td>
<td class="leadAction">
  <%=link_to "Edit", "javascript:void(0)",html={:class=>"leadAction leadEdit"}%> | 
  <%=link_to "Delete", "javascript:void(0)",html={:class=>"leadAction leadDelete"}%>
  <%=checkIfCompanyAdmin(lead.id)%> | 
  <%=fetchTasklink(lead.id)%>
</td>    
  