<table class="table table-striped">
 <thead>
   <tr><td>Name</td><td>Phone</td><td>Email</td><td>Source</td><td>Goal</td><td>Status</td><td>Employee</td><td>Action</td></tr>
 </thead>
 <tbody>    
  <%if @leads.size > 0%>                
  <% @leads.each do |ur|%>
  
  <tr class="viewLead" id="viewLead_<%=ur.lead.id%>" href="#dashboardPopup">
   <td><%=ur.lead.name%></td>
   <td><%=ur.lead.phone%></td>
   <td><%=ur.lead.email%></td>
   <td><%=ur.lead.lead_source%></td>
   <td><%=ur.lead.goal%></td>
   <td class="leadActive leadAction" id="status_<%=ur.lead.id%>">
    <span class="leadAction"><%=Lead.checkLeadStatus(ur.lead.id)%></span>
  </td>
  <td>
    <span id="emp_<%=ur.lead.id%>"><%=fetchLeadEmployee(ur.lead.id)%>
    </td>
    <td class="leadAction">
      <%=link_to "Edit", edit_lead_path(ur.lead),html={:class=>"leadAction"}%> 
      <%if checkIfCompanyAdmin(ur.lead.id)%>
      <span id="asignBtn_<%=ur.lead.id%>" class="leadAction">
        | <%=link_to "Assign", "javascript:void(0)",html={:class=>"leadAction assignLead"}%>
      </span>
    </td>    
    <%end%>  

  </tr>
  <% end %>         
  <%else%>
  <tr>
    <td colspan="7" style="text-align:center">no lead assign/created by this user
    </td>
  </tr>         
  <% end %>
</tbody>
</table>
<%= render "common_templates/popupContainer"%>