<td><%=lead.created_at.strftime("%m/%d/%y")%></td>
<td class="big_wd"><%=lead.fullname%></td>
<td><%=lead.phone%></td>
<!-- <td><%#=lead.email%></td> -->
<td><%=lead.lead_source%></td>
<!-- <td><%#=lead.goal%></td> -->
<td class="leadActive leadAction" id="status_<%=lead.id%>">
  <%=render "common_templates/changeStatus", :lead=>lead, :user=>nil%>
</td>
<!-- <td>
  <span id="emp_<%#=lead.id%>"><%#=fetchLeadEmployee(lead.id)%>
</td> -->
<td class="leadAction">
    <%=render "common_templates/auto_responder_simulator", :lead=>lead%>
</td>
<td class="leadAction" id="select_<%=lead.id%>">
  <%#=link_to "Edit", "javascript:void(0)",html={:class=>"leadAction leadEdit"}%>  
  <%#=link_to "Delete", "javascript:void(0)",html={:class=>"leadAction leadDelete"}%>
  <%#=checkIfCompanyAdmin(lead.id)%> 
  <%#=fetchTasklink(lead.id)%>
  <%if checkIfCompanyAdmin(lead.id) != ''%>
  	<%#= select(:action, :lead, options_for_select(["Edit","Delete",fetchTasklink(lead.id)]), :prompt=>"Action", {}, :class=>"action_select leadAction")%>
    <%=select_tag "filter[select]", options_for_select(["Edit","Delete",fetchTasklink(lead.id)]), prompt: "Action", class: "action_select leadAction" %>
	<%else%>
  <%=select_tag "filter[select]", options_for_select(["Edit","Delete",fetchTasklink(lead.id)]), prompt: "Action", class: "action_select leadAction" %>
  	<%#= select "action", "lead", options_for_select(["Edit","Delete",fetchTasklink(lead.id)]), {}, :prompt=>"test", :class=>"action_select leadAction"%>
	<%end%>
</td>    
  