<td><%=lead.name%></td>
<td><%=lead.phone%></td>
<td><%=lead.email%></td>
<td><%=lead.lead_source%></td>
<td><%=lead.goal%></td>
<td class="leadActive leadAction" id="status_<%=lead.id%>">
  <span class="leadAction"><%=Lead.checkLeadStatus(lead.active)%></span>
</td>
<td>
  <span id="emp_<%=lead.id%>"><%=fetchLeadEmployee(lead.id)%>
  </td>
  <td class="leadAction">
    <%=link_to "Edit", "javascript:void(0)",html={:class=>"leadAction leadEdit"}%> 
    <%if checkIfCompanyAdmin(lead.id)%>
    <span id="asignBtn_<%=lead.id%>" class="leadAction">
      | <%=link_to "Assign", "javascript:void(0)",html={:class=>"leadAction assignLead"}%>
    </span>
  </td>    
  <%end%> 