<div class="span4 margin_width">    
    <div class="taskAsgn">
        <h2 class="heading" style="border-radius:5px;">Create Task</h2>
	        <%=hidden_field_tag :leadid, @lead.id%>
	        <%=select_tag "createLeadTask", options_for_select(@tasklist),:prompt => "Create Task",:class=>"createLeadTask taskAssign" %>

	        <p> <label>Appt. time: </label>
                <%=select_tag "hr", options_for_select(1..12),:prompt => "hours",:class=>"w10" %>
                <%=select_tag "min", options_for_select(1..60),:prompt => "min",:class=>"w10" %>
                <%=select_tag "zon", options_for_select(["am","pm"]),:class=>"w10" %>
            </p>
            <p> <label>Date of Appt: </label>
                <%= text_field_tag :app_date %>
            </p>
            <p class="taskBtn"> 
                <input type="button" name="submitApoint" value="submit" id="submitApoint" style="margin:0 !important;width:30%;background:none repeat scroll 0 0 #FFDE52">
            </p>
    </div>        
</div>

<script type="text/javascript">
	$('#app_date').datepicker({ dateFormat: 'yy-mm-dd' }).val();
	tashtest();
</script>