<td><%=lead.name%></td>
<td><%=lead.phone%></td>
<td><%=lead.email%></td>
<td><%=lead.lead_source%></td>
<td><%=lead.goal%></td>
<td class="leadActive leadAction" id="status_<%=lead.id%>">
  <%=render "common_templates/changeStatus", :lead=>lead, :user=>nil%>
</td>
<td>
  <span id="emp_<%=lead.id%>"><%=fetchLeadEmployee(lead.id)%>
</td>
<td class="leadAction" id="select_<%=lead.id%>">
  <%#=link_to "Edit", "javascript:void(0)",html={:class=>"leadAction leadEdit"}%>  
  <%#=link_to "Delete", "javascript:void(0)",html={:class=>"leadAction leadDelete"}%>
  <%#=checkIfCompanyAdmin(lead.id)%> 
  <%#=fetchTasklink(lead.id)%>
  <%if checkIfCompanyAdmin(lead.id) != ''%>
  	<%= select "action", "lead", options_for_select(["Edit","Delete",fetchTasklink(lead.id),checkIfCompanyAdmin(lead.id)], :selected=>lead.status), {}, :class=>"action_select leadAction"%>
	<%else%>
  	<%= select "action", "lead", options_for_select(["Edit","Delete",fetchTasklink(lead.id)], :selected=>lead.status), {}, :class=>"action_select leadAction"%>
	<%end%>

</td>    
  