<div class="span4" style="width:350px;margin-top:10px">    
    <div class="border">
        <h2 class="heading">View Lead</h2>
        <div class="form pd15 leadform">
            <p><%= label_tag "Name:" %><%= text_field_tag  :name, @lead.name %></p>
            <p><%= label_tag "Phone:" %><%= text_field_tag :phone, @lead.phone %></p>
            <p><%= label_tag "Email:" %><%= text_field_tag :phone, @lead.email %></p>
            <p><%= label_tag "Source:" %><%= text_field_tag :phone, @lead.lead_source %></p>
            <p><%= label_tag "Status:" %><%= text_field_tag :phone, @lead.active %></p>
            <p><%= label_tag "Notes:" %><%= text_field_tag :phone, @lead.notes %></p>
            <p><input type="button" class="btn yellow fancybox_close" value="Cancel"/></p>
            <div class="clear"></div>
        </div>        
    </div>        
</div>