

<%if current_user.checkLeadLimit%>
<li>
	<%=link_to(new_lead_path(), html_options = {}) do %>
	<i class="icon icon_leads"></i>
	<span>Leads</span>                 
	<%end %>
</li>
<%elsif current_user.isCompany%>
<li>
	<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
	<span class="upgrade"></span>
	<i class="icon icon_leads"></i>
	<span>Leads</span>                 
	<%end %>
</li>
<%else%><li>
	<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_leads"></i>
		<span>Leads</span>                 
	<%end %></li>
<%end%>


<li>
	<%=link_to(new_appointment_path(), html_options = {}) do %>
	<i class="icon icon_appointment"></i>
	<span>Appointments</span>                 
	<%end %>
</li> 

<%if is_daily_rep_allow(current_user)%>
<li>
	<%=link_to(sale_prods_path, html_options = {}) do %>
	<i class="icon icon_salesdata"></i>
	<span>Sales Data</span>
	<%end %>
</li>
<%elsif current_user.isCompany%>
<li>
	<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
	<span class="upgrade"></span>
	<i class="icon icon_salesdata"></i>
	<span>Sales Data</span>
	<%end %>
</li>

<%else%>

<li>
	<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
	<span class="upgrade"></span>
	<i class="icon icon_salesdata"></i>
	<span>Sales Data</span>
	<%end %></li>
<%end%>

<%if is_daily_rep_allow(current_user)%>
<li>
	<%=link_to(new_sale_prod_path, html_options = {}) do %>
	<i class="icon icon_daily_report"></i>
	<span>Daily Report</span>
	<%end %>
</li>
<%elsif current_user.isCompany%>
<li>
	<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
	<span class="upgrade"></span>
	<i class="icon icon_daily_report"></i>
	<span>Daily Report</span>
	<%end %>
</li>
<%else%><li>
	<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_daily_report"></i>
		<span>Daily Report</span>
	<%end %></li>
<%end%>
<%if current_user.isEmployee%> 
	<%if is_vip_allow(current_user)%>
		<li>
			<%=link_to(vipleads_path(), html_options = {}) do %>
			<i class="icon icon_vip_leads"></i>
			<span>VIP Leads</span>                 
			<%end %>
		</li>
	<%else%>
<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>""}) do%>
			<span class="upgrade"></span>
			<i class="icon icon_vip_leads"></i>
			<span>VIP Leads</span>                 
		<%end %></li>
	<%end%>
	<%if is_vip_allow(current_user)%>
	<li>
		<%=link_to(opt_in_leads_path, html_options = {:class=>"upgrade_img"}) do %>
		<i class="icon icon_opt_in_lead"></i>
		<span>Opt in leads</span>	
		<span></span>                  
		<%end%>
	</li>
	<%else%>
		<li>
			<%=link_to("javascript:void(0)", html_options = {:class=>""}) do%>
				<span class="upgrade"></span>
				<i class="icon icon_opt_in_lead"></i>
				<span>Opt in leads</span>	
				<span></span> 

			<%end %>
		</li> 
	<%end%>
	<%if is_vip_allow(current_user)%>
		<li>
			<%=link_to(new_viplead_path, html_options = {}) do %>
			<i class="icon icon_socialInviter"></i>
			<span>Invite Friends</span>
			<span></span>                  
			<%end %>
		</li>
	<%else%>
		<li>
			<%=link_to("javascript:void(0)", html_options = {:class=>""}) do%>
				<span class="upgrade"></span>
				<i class="icon icon_socialInviter"></i>
				<span>Invite Friends</span>
				<span></span>        
			<%end %>
		</li>
	<%end%>
	<%if is_vip_allow(current_user)%>
	<li>
		<%=link_to(statss_path(), html_options = {}) do %>
		<i class="icon icon_statistics"></i>
		<span>Stats</span>                 
		<%end %>
	</li>
	<%else%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>""}) do%>
			<span class="upgrade"></span>
			<i class="icon icon_statistics"></i>
			<span>Stats</span>   
		<%end %>
	</li>
	<%end%>
			
<%end%>
<li>
	<%if is_vip_allow(current_user)%>
	<%=link_to(onlinemall_index_path, html_options = {}) do %>
	<i class="icon icon_mall_item"></i>
	<span>Online Mall</span>
	<span></span>                  
	<%end %>
	<%else%>
	
	<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do%>
	<span class="upgrade"></span>
	<i class="icon icon_mall_item"></i>
	<span>Online Mall</span>
	<span></span>     
	<%end %>
	<%end%>
</li>
<%if current_user.isCompany || current_user.isAdmin%>
<li>
	<%if current_user.checkUserLimit%>
	<%=link_to(company_new_path, html_options = {}) do %>
	<i class="icon icon_leads"></i>
	<span>Manage User</span>
	<span></span>                  
	<%end %>
	<%else%>
	<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do%>
	<span class="upgrade"></span>
	<i class="icon icon_leads"></i>
	<span>Manage User</span>
	<span></span>      
	<%end %>
	<%end%>
</li>

<li>
	<%if is_vip_allow(current_user)%>
	<%=link_to(onlinemall_index_path, html_options = {}) do %>
	<i class="icon icon_mall_item"></i>
	<span>Online Mall</span>
	<span></span>                  
	<%end %>
	<%else%>
	<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do%>
	<span class="upgrade"></span>
	<i class="icon icon_mall_item"></i>
	<span>Online Mall</span>
	<span></span>     
	<%end %>
	<%end%>
</li>

<li>
	<%=link_to(settings_path, html_options = {}) do %>
	<i class="icon icon_setting"></i>
	<span>Setttings</span>
	<span></span>                  
	<%end%>
</li>

<%end %>		
<li>
	<%=link_to(autoresponder_path, html_options = {}) do %>
	<i class="icon icon_appointment"></i>
	<span>Responder</span>                 
	<%end %>
</li>
