<li>
	<%=link_to(new_lead_path(), html_options = {}) do %>
	<i class="icon icon_leads"></i>
	<span>Leads</span>                 
	<%end %>
</li>
<li>
	<%=link_to(new_appointment_path(), html_options = {}) do %>
	<i class="icon icon_appointment"></i>
	<span>Appointments</span>                 
	<%end %>
</li> 
<%if current_user.isEmployee%> 
	<li>
		<%=link_to(vipleads_path(), html_options = {}) do %>
		<i class="icon icon_vip_leads"></i>
		<span>VIP Leads</span>                 
		<%end %>
	</li>
	<li>
	    <%=link_to(opt_in_leads_path, html_options = {}) do %>
	    <i class="icon icon_opt_in_lead"></i>
	    <span>Opt in leads</span>	
	    <span></span>                  
	    <%end%>
	</li>
	<%if current_user.isSocialInvitable %> 
		<li>
		    <%=link_to(new_viplead_path, html_options = {}) do %>
		    <i class="icon icon_socialInviter"></i>
		    <span>Social Inviters</span>
		    <span></span>                  
		    <%end %>
		</li>
	<%end%>
	<li>
		<%=link_to(statss_index_path(), html_options = {}) do %>
		<i class="icon icon_statistics"></i>
		<span>Stats</span>                 
		<%end %>
	</li>
<%end%>
	
<%if current_user.isCompany || current_user.isAdmin%>
	<li>
		<%=link_to(company_new_path, html_options = {}) do %>
		<i class="icon icon_leads"></i>
		<span>Manage User</span>
		<span></span>                  
		<%end %>
	</li>
	<li>
		<%=link_to(onlinemall_index_path, html_options = {}) do %>
		<i class="icon icon_mall_item"></i>
		<span>Online Mall</span>
		<span></span>                  
		<%end %>
	</li>
	
<%end %>

