
<%if is_vip_allow(current_user)%>
	<li>
		<%=link_to(new_viplead_path, html_options = {}) do %>
		<i class="icon icon_socialInviter"></i>
		<span>Invite Friends</span>
		<span></span>                  
		<%end %>
	</li>
<%elsif current_user.isCompany%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_socialInviter"></i>
		<span>Invite Friends</span>
		<span></span>                  
		<%end %>
	</li>
<%else%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_socialInviter"></i>
		<span>Invite Friends</span>
		<span></span>                  
		<%end %>
	</li>
<%end%>

<%if current_user.checkLeadLimit%>
	<li>
		<%=link_to(new_lead_path(), html_options = {}) do %>
		<i class="icon icon_leads"></i>
		<span>Leads</span>                 
		<%end %>
	</li>
<%elsif current_user.isCompany%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_leads"></i>
		<span>Leads</span>                 
		<%end %>
	</li>
<%else%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
			<span class="upgrade"></span>
			<i class="icon icon_leads"></i>
			<span>Leads</span>                 
		<%end %>
	</li>
<%end%>
<li>
	<%=link_to(new_appointment_path(), html_options = {}) do %>
	<i class="icon icon_appointment"></i>
	<span>Appointments</span>                 
	<%end %>
</li> 

<%if is_daily_rep_allow(current_user)%>
	<li>
		<%=link_to(sale_prods_path, html_options = {}) do %>
		<i class="icon icon_salesdata"></i>
		<span>sales reports</span>
		<%end %>
	</li>
<%elsif current_user.isCompany%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_salesdata"></i>
		<span>sales reports</span>
		<%end %>
	</li>
<%else%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_salesdata"></i>
		<span>sales reports</span>
		<%end %>
	</li>
<%end%>


<%if is_vip_allow(current_user)%>
	<li>
		<%=link_to(statss_path(), html_options = {}) do %>
		<i class="icon icon_statistics"></i>
		<span>Statistics</span>                 
		<%end %>
	</li>
<%elsif current_user.isCompany%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>"upgrade_img"}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_statistics"></i>
		<span>Statistics</span>                 
		<%end %>
	</li>
<%else%>
	<li>
		<%=link_to("javascript:void(0)", html_options = {:class=>""}) do %>
		<span class="upgrade"></span>
		<i class="icon icon_statistics"></i>
		<span>Statistics</span>                 
		<%end %>
	</li>
<%end%>
<li>
	<%=link_to(settings_path, html_options = {}) do %>
		<i class="icon icon_setting"></i>
		<span>Manage Campaign</span>
		<span></span>                  
	<%end%>
</li>
