<div class="row-fluid">
    <div class="span2">
        <div class="pull-left">
            <%if @picture_user.present?%>
                <%= image_tag @picture_user.avatar.url(:medium), :class=>"img-polaroid", :style=>"width:100%;height:suto;" %>
            <%else%>
                <img src="/assets/company-logo.png" class="img-polaroid">
            <%end%>
        </div>
    </div>
    <div class="span10">
        <div class="pull-left clear">
            <h2><%=current_user.name.humanize%></h2>
        </div>
        <%if current_user.isAdmin || current_user.isCompany%>
            <div class="pull-left clear">
                <h4 class="btn yellow submitlogo">Upload Logo</h4>
                <%= form_for @picture, :url => '/createpic' do |form| %>
                  <%= form.file_field :avatar, :style =>"display:none" %>
                <% end %>
            </div>
            <div class="pull-left clear">
                <h4 class="btn yellow"><%=link_to "Manage Socail Invite Messages", socialMessages_path%></h4>
            </div>
        <%end%>
    </div>
</div>

