<%#if current_user.isCompany%>
    <div class="wdt20_col">
        <div class="salesRep border grad_box_col">
            <h2 class="heading">TEAM MEMBERS</h2>
            <div class="list borderbox seeusergauge">
                <ul>
                    <%if @users.present? %>
                        <%@users.each do |user|%>
                            <li id="user_<%=user.id%>" class="home_das">
                                <%if current_user.isCompany && @users.size < 2%>
                                    <a href="javascript:void(0)">
                                        <div class="salesPrsn img-polaroid">
                                            <%if current_user.picture.present?%>
                                                <%= image_tag current_user.picture.avatar.url(:small), :class=>"img-polaroid user78"%>
                                            <%else%>
                                                <img class="img-polaroid user78" src="/assets/client_img.png"/>
                                            <%end%>
                                        </div>
                                        <div class="pull-left name" style="max-width:48%">
                                            <span style="color:#ffffff;word-break:break-all"><%=current_user.name%></span><span style="color:#ffffff"><%=current_user.role.role_type.humanize%></span>
                                        </div>
                                    </a>
                                <%else%>
                                    <%=render "sales_user", :user=>user%>
                                <%end%>
                            </li>
                            <%#if !current_user.isCompany%>
                                <!-- <span> -->
                                    <!-- <a class="btn yellow submitlogo leadAction" style="font-size: 10px;min-width: 42px;padding: 2px 20px;">Upload Pic</a> -->
                                    <%#= form_for 'picture', :url => '/createpic' ,:html => { :id => "c_logo",:class=>"uid_#{user.id}", :style=>"margin:0px;" } do |form| %>
                                      <%#= hidden_field_tag :u_id, user.id%>
                                      <%#= hidden_field_tag :home_dash, user.id%>
                                      <%#= form.file_field :avatar, :class=>"file_#{user.id}",:style =>"display:none" %>
                                    <%# end %>
                                <!-- </span> -->
                            <%#end%>
                        <%end%>
                    <%else%>
                        <li>No sales users present.</li>
                    <%end%>
                </ul>
            </div>
        </div>
    </div>
<%#end%>
