<%= javascript_include_tag 'kendo.all.min' %>
<div class="container main_container">

  <div class="row-fluid">
    <div class="span12">
      <h2 class="heading_about">SALES DASHBOARD</h2>
    </div>
  </div>
  <div class="row-fluid">
    <%= render "sales_user_list" %>
    <div class="banner_col">
      <div class="border grad_box_col banner_mhgt">
        <h2 class="heading">STATISTICS</h2>

        <div class="salesRepData" id="sales_repo_change">
          <%= render "sales_gauge_data" %>
        </div>
        <div class="clear mb10"></div>
      </div>
    </div>

    <div class="clear"></div>
    <div class="row-fluid mt10">
      <div class="wdt20_col">
        <div class="border grad_box_col">
          <h2 class="heading">MENU</h2>

          <div class="dashboardpage menuView">
            <div class="row-fluid">
              <ul class="dashboardIcons borderbox">
                <%= render "home/companyDashboard" %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="wdt30_col">
        <div class="border grad_box_col">
          <h2 class="heading">CURRENT ITEMS DUE</h2>

          <div class="table table-striped font-12">
            <% if @newsfeeds.present? %>
                <div class="bor_rad">
                  <%= Date.today.strftime("%b %d") %>
                </div>
                <div class="table_container">
                  <% @newsfeeds.each do |feed| %>
                      <div class="<%= get_logs_class(feed) %>" id="feed_<%= feed.lead.id %>" data-feed=
                              "<%= feed.id %>">
                        <ul>
                          <li class="wd20"><a href="javascript:void(0)"><%= get_feed_icon(feed) %></a></li>
                          <li class="wd60"><%= feed.description %></li>
                          <li class="wd20">  
                            <a class="btn <%= feed.color %> btn-small w40 <%= feed.feed_click %>" id="act_<%= feed.lead.id %>" href="javascript:void(0)" data-id="<%=feed.id%>" data-action="leadpopup"><%= feed.action %></a>
                          </li>
                        </ul>
                      </div>
                  <% end %>
                </div>
            <% else %>
                <div class="bor_rad">No news available
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="wdt30_col">
        <div class="border grad_box_col">
          <h2 class="heading">PAST DUE ITEMS</h2>

          <div class="table table-striped font-12">
            <% if @backlogs.present? %>
                <% @backlogs.each do |date, value| %>
                    <div class="bor_rad">
                      <%= date.strftime("%b %d") %>
                    </div>
                    <div class="table_container">
                      <% value.each do |feed| %>
                          <% if feed.lead.present? %>
                              <div class="<%= get_logs_class(feed) %>" id="feed_<%= feed.lead.id %>" data-feed=
                                      "<%= feed.id %>">
                                <ul>

                                  <li class="wd20"><a href="javascript:void(0)"><%= get_feed_icon(feed) %></a></li>
                                  <li class="wd60"><%= feed.description %></li>
                                  <li class="wd20">
                                    <a class="btn <%= feed.color %> btn-small w40 <%= feed.feed_click %>" id="act_<%= feed.lead.id %>" href="javascript:void(0)" data-id="<%=feed.id%>" data-action="leadpopup"><%= feed.action %></a>
                                  </li>
                                </ul>
                              </div>
                          <% end %>
                      <% end %>
                    </div>
                <% end %>

            <% else %>
                <div class="bor_rad">No backlogs available</div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="wdt20_col ml15">
        <%= render "home/leadgauge" %>
      </div>
    </div>
  </div>

  <script>
      function signUserOut() {
          WL.logout();
      }
  </script>
  <!-- <button onclick='signUserOut()'>Click here to sign out!</button> -->
  <div id="upgrade_terms" class="popup_container">
    <div style="z-index:99999;top:3%">
      <div id="upgrade_pop_txt" style="font-size:20px;text-align:center;width:725px;height:auto">
        <img src="/assets/ajax-loader.gif" style="margin:15%"/>
        <%#=render "common_templates/upgrade_pop_text"%>
      </div>
    </div>
  </div>

  <% if current_user && !current_user.verified %>
      <div id="setup_wiz" class="popup_container">
        <div style="font-size:20px;text-align:center">
          <%= render "common_templates/setup_wizard" %>
        </div>
      </div>
      <script>
          $.fancybox.open({
              href: '#setup_wiz',
              type: 'inline'
          });
      </script>
  <% end %>
</div>


<%= render "common_templates/popupContainer" %>

