<span class="gaugestart">
    <%=render "dashboard_gauges_script"%>
</span>

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <!-- <h2>Sales Dashboard</h2> -->
        </div>
    </div>
    <div class="row-fluid">
        <%=render "sales_user_list"%>
        <div class="span9">
            <h2 class="heading">Overall Statistics</h2>
            <div class="salesRepData" id="sales_repo_change">
                <%=render "sales_gauge_data"%>
            </div>
            <div class="clear mb10"></div>
            <div class="row-fluid">
                <div class="span3 lead_gaug">
                    <%=render "home/leadgauge"%>
                </div>
                <div class="span9">
                    <h2 class="heading">Dashboard</h2>
                    <div class="dashboardpage">
                        <ul class="dashboardIcons borderbox">
                            <%=render "home/companyDashboard"%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function signUserOut() {
    WL.logout();
}
</script>
<!-- <button onclick='signUserOut()'>Click here to sign out!</button> -->
<div id="upgrade_terms" class="popup_container">
  <div style="z-index:99999;top:3%">
    <div id="upgrade_pop_txt" style="font-size:20px;text-align:center;width:725px;height:auto" >
    <img src="/assets/ajax-loader.gif" style="margin:15%" />
    <%#=render "common_templates/upgrade_pop_text"%>
    
  </div>
  </div>
</div>

<%=render "common_templates/popupContainer"%>

