<div class="container" style="padding-top:40px;">
	<div class="row-fluid">
		<div class="span12">
			<h2 class="heading-about" style="text-align: center;">Member Profile</h2>
		</div>

		<div class="row-fluid">
			<div class="step_main_col_new">

					<div class="step_main_col step_new">
      	<div class="step_wise_col step_1">
          	<span class="step_circle step_active"><span >1</span></span>
              <div class="step_txt">
         			<h3>STEP 1</h3>
              </div>
          </div>
          
          <div class="step_wise_col step_2">
          	<span class="step_circle"><span>2</span></span>
         		<div class="step_txt">
         		<h3>STEP 2</h3>
              </div>
          </div>
          
          <div class="step_wise_col step_3">
          	<span class="step_circle"><span>3</span></span>
         		<div class="step_txt">
         		<h3>STEP 3</h3>
              </div>
          </div>
      </div>
      <div class="clear"></div>
				<%= form_tag('/save_details') do %>
					<%#= f.select :hear_about, :placeholder => "Address" %>
					<div class="select_input_col">
					<label>Are you member of health club?</label>
					
					 <%= select_tag "are_you_member", options_for_select(["No","Yes"]) %>
					 </div>

					 <div class="select_input_col">
					<label>Do you currently exercise? </label>
					
					<%=select_tag "currently_exercise", options_for_select(["No","Yes","Sometimes"]) %>
					</div>
					<div class="select_input_col">
					<label>How long have you considered a program? </label>
					
						<%=select_tag "program", options_for_select(["0-6 months","6m-1yr","Longer"]) %>
					</div>

					<div class="select_input_col">
					<label>What are your goals? </label>
					
						<%=select_tag "goals", options_for_select(["Lose weight","Improve strength","Cardiovascular","Stress management","Injury rehab","Improve stamina","General conditioning","Overall health","Doctor recommended","General conditioning"]) %>
					</div>

					<div class="select_input_col">
					<label>I am a guest of? </label>
					
						<%= text_field_tag "guest", nil, :class => "guest_input",:placeholder => "Member Name"  %>
					</div>
					
					<%= hidden_field_tag 'lead_id', @lead.id %>
				
			 <div class="clear"></div>	
				<div style="text-align:center">	<%= submit_tag 'Final Step', :class => "btn yellow step_su_btn" %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
	$(".step_1").addClass('step_line');
	$(".step_1 .step_circle").addClass('step_active').addClass('step_passed');
	$(".step_2").addClass('step_line');
	$(".step_2 .step_circle").addClass('step_active').addClass('step_passed');
	$(".step_3 .step_circle").addClass('step_active');
</script>