

<div id="page_wrap">
  <div class="banner">
    
  <div class="header">
      
      <div class="hdr_container">
        <%if current_user%>
          <%=link_to home_index_path, class: "logo" do%>
            <img src="/assets/logo_img.png" width="169" height="50" alt="logo_img" />
          <%end%>
        <%else%>
          <%=link_to signup_user_path, class: "logo" do%>
              <img src="/assets/logo_img.png" width="169" height="50" alt="logo_img" />
          <%end%>
        <%end%>
        <div class="sign_in">
          <%if current_user%>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete%>
          <%else%>
            <%=link_to "Sign In",'/users/sign_in'%>
          <%end%>
        </div>
      </div>
    </div>
    <div class="video_img">
      <iframe width="660" height="350" src="//www.youtube.com/embed/30VAxy_YXBM?rel=0" frameborder="0" allowfullscreen></iframe>
      <!-- <img src="/assets/video_img.jpg" width="528" height="296" alt="video_img" /> -->
      <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/30VAxy_YXBM?rel=0" frameborder="0" allowfullscreen></iframe> -->
      </div>
  </div>
    <div class="black_wrap" >
      <div class="black_wrap_container">
          <div class="acc_content" id="test">
            <h3>Lead<span class="skyblue">Pump</span> <span class="ft_it">- Start your 30-day free trial!</span></h3>
              <%= form_tag('/create_new_user', method: :post, :id=>"signup_user", :class => "", :remote=>true) do |f| %>
                  <%=hidden_field_tag :cls, "black_wrap_input"%>
                  <span class="leadform">
                   <%=render "common_templates/signup_user", cls: "black_wrap_input" %>
                  </span>
                     <div class="btn_box">
                        <input name="" type="button" class="black_wrap_btn signup_1" value="Start Free Trial"/>
                        <p class="btn_fnt">By clicking you agree to terms and conditions.</p>
                    </div>
                <%end%>
          </div>
      </div>
    </div>
  </div>
    <div class="bridge_wrap">
      <div class="bridge_container">
      <div class="bridge_nav">
          <ul>
              <li><a href="#why_choose_us">Why choose us </a></li>
                <li><a href="#our_features">Our Features</a></li>
                <li><a href="#our_prices">Our Price</a></li>
                <li><a href="#contact_us">Contact Us</a></li>
            </ul>
        </div>
        <div class="bridge_content">
        <h4>Finally An Affordable Solution That Bridges The Gap!</h4>
        <p>Uniting lead generation, lead management, team management  and member 
rewards. <strong>LEAD<span class="skyblue">PUMP</span></strong> will increase your leads, increase your staff's productivity, 
increase your memberships sales, reward your members for referrals all 
while lowering new member acquisition cost and operating expenses!</p>
</div>
</div>
    </div>
    <div class="black_wrap why_wrap">
      <div class="black_wrap_container">
        <div class="black_wrap_content ft_align">
      <a id = "why_choose_us"></a>
      <h4 class="white_c">WHY US?</h4>
        <p>Because there is no industry solution that compares to <strong>LEAD<span class="skyblue">PUMP</span></strong>. Other products in our industry claim to offer "lead generation" systems, but you will quickly find they are merely lead management systems which is entirely different then our main focus.</p>
        <p>We specialize in lead generation. <strong>LEAD<span class="skyblue">PUMP</span></strong> has proprietary technology like our patented "Lead Generator Viral Inviter" that no other company in our industry offers. Generating leads is the hardest part. Our system will produce an abundance of qualified leads which will have the highest probability of converting to new membership sales at your facility.</p>
       <h5> Most would think that's reason enough to get started...not us.</h5>
       <p>There is one more amazing feature that only <strong>LEAD<span class="skyblue">PUMP</span></strong> offers...Affordability!</p>
        </div>
        </div>
    </div>
    <div class="feature_wrap">
      <div class="feature_wrap_container">
          <a id = "our_features"></a>
          <h4>OUR FEATURES</h4>
            <div class="feature_list">
              <div class="feature_1">
              <div class="feature_col">
                <img src="/assets/msg_creator_img.png" width="73" height="69" alt="msg_creator" class="mc" />
                <h5>Message Creator</h5>
                <p>Create a personalized compelling invitation to <br/>
                    Your club for your member to send to friends</p>
                </div>
                <div class="feature_col feature_ml">
                <img src="/assets/sales_img.png" width="61" height="61" alt="sales_img" />
                <h5>Daily Sales Reports</h5>
                <p>Produce daily sales reports stored in the cloud</p>
              </div>
              </div>
              <div class="feature_1">
              <div class="feature_col">
                <div class="social_icon">
                  <img src="/assets/social_icon.png" width="52" height="168" alt="social_icon" class="left_img1"/>
                </div>
                <div style="width:322px; float:left">
                <div class="mt_0 lgt_yellow">
                <h5>MASS-PASS Social Inviter </h5>
                <p>Allow your members to import their contacts, share <br/>
                    an invitation to your club with guest passes attached<br/>
                    to all their friends, family members and co-workers <br/>
                    with the click of a button</p>
        </div></div>
              </div>
              <div class="feature_col feature_ml">
                <img src="/assets/sales_projection.png" width="64" height="66" alt="sales_projection" />
                <h5>Sales Projections</h5>
                <p>Daily sales production sheets, Monthly projections</p>
              </div>
              <div class="feature_col feature_ml">
                <img src="/assets/management_img.jpg" width="84" height="60" alt="management_img" class="left_img2" />
                <h5>Management</h5>
                <p>Track your teams opportunities and connections</p>
              </div>
              </div>
              <div class="feature_1">
              
              <div class="feature_col">
                <img src="/assets/pos_img.png" width="62" height="60" alt="pos_img" />
                <h5>POS Traditional Buddy Referrals</h5>
                <p>Collect 1-5 names and numbers that load right<br/>
into your dashboard and create prospect records</p>
              </div>
              <div class="feature_col feature_ml">
                <img src="/assets/dashboard_img.jpg" width="167" height="69" alt="dash_img" class="left_img3" />
                <h5>Enhanced Dashboard</h5>
                <p>See up to minute opportunities, sales and<br/>
projections for your entire team</p>
              </div>
              </div>
              <div class="feature_1">
              
              <div class="feature_col ">
                <img src="/assets/landing_p_img.png" width="64" height="64" alt="landing_p_img" />
                <h5>Internal Landing Pages</h5>
                <p>High converting landing pages</p>
              </div>
              <div class="feature_col feature_ml">
                <img src="/assets/online_center.jpg" width="68" height="68" alt="online_center"/>
                <h5>On-line Profit Centers</h5>
                <p>Increase profit centers with member rewards</p>
              </div>
              </div>
              <div class="feature_1">
              
              <div class="feature_col ">
                <img src="/assets/crm_img.jpg" width="68" height="68" alt="crm_img" />
                <h5>Customer Relations Manager</h5>
                <p>Manage interactions with future customers</p>
              </div>
              <div class="feature_col feature_ml">
                <img src="/assets/cs_img.jpg" width="87" height="61" alt="cs_img" class="left_img4"/>
                <h5>Cloud Storage</h5>
                <p>Centralize location of all leads/prospects</p>
              </div>
              </div>
              <div class="feature_1">
              
              <div class="feature_col ">
                <img src="/assets/calender_img.jpg" width="68" height="68" alt="calender_img" />
                <h5>Calendar</h5>
                <p>Schedule reminders, tasks, calls or tours</p>
              </div>
              <div class="feature_col feature_ml">
                <img src="/assets/ft&amp;rp_img.png" width="64" height="57" alt="ft&rp" class="left_img5"/>
                <h5>Free Training & Resource Pages </h5>
                <p>Proven methods, invaluable information</p>
              </div>
              </div>
              <div class="feature_1">
                <div class="feature_col col_center">
                  <a href="http://lead.brsystem.info"  target="_blank">
                    <img src="/assets/women.jpg" width="400" height="262" alt="girl_img" class="left_img2"/>
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="orange_wrap">
      <div class="orange_wrap_container">
      <h4 class="white_c">Instantly Increase Leads And Sales By Up To 37% A Month!
<strong>LEAD<span class="skyblue">PUMP</span></strong> is as simple as one, two, three</h4>
    <div class="orange_content">
          <ul>
              <li><h5>Fire it up.</h5>
                  <p>Start your trial today<br/>
and Implement LEADPUMP<br/>
at your club.</p>
                </li>
                <li class="orange_content_mlr"><h5>Members invites friends.</h5>
                  <p>They have the ability to send just a <br/>
few or to send hundreds through <br/>
email, facebook and twitter.</p>
                </li>
                <li><h5>Working together.</h5>
                  <p>Our system organizes all your <br/>
leads for your sales staff, you<br/>
are easily able to manage<br/>
your team.</p>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="black_wrap step_wrap">
      <div class="black_wrap_container black_1">
        <div class="black_wrap_content cnt_1 ft_align">
      <a id = "our_prices"></a>
      <h4 class="white_c">A STEP ABOVE THE REST</h4>
        <p>Providing True "Lead Generation" With Greater Success For Less</p>
        <div class="step_top_img">
        <img src="/assets/p_chart.jpg" width="1172" height="220" alt="lead_gn_img" />
        <p style="font-size: 10px;margin: -35px 0px 0px 10px;">Sales Force pricing based on public available information<a href="http://www.salesforce.com/crm/editions-pricing.jsp" target="_blank" style="color: #69DCF4"> located here</a>. Pricing for INTOUCH and LeadDolphin based on direct email quotes provided by each company that can be <a href="/intouch" style="color: #69DCF4" target="blank">seen here</a>. Abbreviations, pu. = per user and pl. = per location.</p>
        </div>
        <div class="step_col">
          <div class="step_col_box">
              <div class="step_col_box_top">
                  <h5>BASIC</h5>
                    <h2>$27<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_17" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                
                  <h1>Get all Advanced features</h1>
                    <h2>CRM - up to 1000 contacts</h2>
                    <h2>Calendar</h2>
                    <h2>Lead dashboard</h2>
                    <h2>Team management</h2>
                    <h2>Cloud Storage</h2>
               
                </div>
            </div>
            <div class="step_col_box">
              <div class="step_col_box_top">
                  <h5>ADVANCED</h5>
                    <h2>$37<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_18" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                
                  <h1>Get all Advanced features
                    <span>PLUS</span>
                  </h1>
                  <h2>CRM - up to 1000 contacts</h2>
                  <h2>Daily sales reports</h2>
                  <h2>Monthly sales projections</h2>
                  <h2>Full dashboard enabled</h2>
                  <h2>POS referrals up to 25</h2>
               
                </div>
            </div>
            <div class="step_col_box">
                <div class="blue_box_rounded">Recommended  Plan</div>
              <div class="step_col_box_top">
                  <h5>PROFESSIONAL</h5>
                    <h2>$67<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_17" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                  <h1>Get all Advanced features
                    <span>PLUS</span>
                  </h1>
                    <h2>CRM - unlimited contacts</h2>

                     <h3>  <strong>LEAD<span>PUMP</span></strong> - Mass Pass</h3>
                      <p> Your member can send 100’s of  guest passes to friends, family members and co-workers at once through email, facebook, twitter. This is not grandmas “like it” or “share it” button! </p>

                 <h3> Enhanced tracking</h3>
                         <p>  Track your members guest invitations that have been sent, opened and those that convert to prospects back to the sales representative and to the referring member. </p>

                      <h3> Electronic guest registration</h3>
                      <p>  Walk-ins electronically complete guest registration, provide valuable sales insight information and sign liability waiver. Guests turn into prospects and automatically load into your CRM. Full proof. </p>

                      <h3>  Automatic follow up</h3>
                      <p> Regardless of your staffs follow through, new leads never fall through the cracks. Design up to 10 messages that automatically go out creating urgency to start a fitness program at your facility. Full proof. </p>
                   
                </div>
            </div>
            <div class="step_col_box ">
              <div class="step_col_box_top">
                  <h5>PROFESSIONAL PLUS</h5>
                    <h2>$97<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_17" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                
                  <h1>Get all Professional features
                    <span>PLUS</span>
                  </h1>
                    <h3>Spokesperson</h3>
                      <p> Our spokesperson walks out on the screen of your lead gathering web page and    encourages the potential member to take that first step in starting a fitness program.
                      </p>
                      
                      <h3>Masterminds</h3>
                    <p>Access to monthly mastermind meetings. In these sessions you will gain valuable insight how to maximize your results by combining LEAD<span>PUMP</span> with out-of-the-box strategies. </p>
                    
              
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="trial_col">
      <div class="trial_col_container">
          <div class="trial_left">
              <h2>Getting Referrals Can Be Work But It Doesn't 
Have To Be Difficult, Start Your Trial Today!</h2>
      <h3>LEAD<span class="skyblue">PUMP</span> <span class="ft_it black_c">- Start your 30-day free trial!</span></h3>
      <%= form_tag('/create_new_user', method: :post, :id=>"signup_user", :class => "", :remote=>true) do |f| %>
        <span class="leadform1">
         <%=render "common_templates/signup_user" , cls: "trial_left_input" %>
         </span>
         <%=hidden_field_tag :cls, "trial_left_input"%>
         <div class="trial_left_btn_box">
            <input name="" type="button" class="trial_left_btn <%= current_user.present? ? '' : 'signup_1'%>" value="Start Free Trial"/>
         </div>
        <%end%>
        </div>
        </div>
            
        </div>
    </div>
    <div class="black_wrap step_wrap">
      <div class="black_wrap_container black_2">
          <a id = "contact_us"></a>
            <div class="contact_content">
              <div class="contact_content_left">
                  <div class="map">

                      <h2> About us </h2>
                    <div>
                        
                      <p class="Wp-Body-P"><span class="Body-C-C16">LEAD</span><span class="Body-C-C22">PUMP</span><span class="Body-C-C23"> </span><span class="Body-C-C24">has spent over 65 successful years in the business of health and fitness.
                          Our team has managed and directed every aspect of the business – including sales,
                          marketing, promotions, staff training, club design, consulting and total club operations.
                          We completely understand your challenges, needs, goals and aspirations. </span></p>
                      <p class="Wp-Body-P"><span class="Body-C-C24">We developed </span><span class="Body-C-C16">LEAD</span><span class="Body-C-C22">PUMP</span><span class="Body-C-C24"> to be a solution for club owners and operators. </span><span class="Body-C-C16">LEAD</span><span class="Body-C-C22">PUMP</span><span class="Body-C-C24"> is
                          a revolutionary new method that will generate a substantial increase in qualified
                          leads -<wbr> allow you to manage those relationships from lead to engaged member and do
                          all of this at a remarkably affordable monthly investment.</span></p>
                      <p class="Wp-Body-P"><span class="Body-C-C24">In good health,<br>Team </span><span class="Body-C-C16">LEAD</span><span class="Body-C-C22">PUMP</span></p>
                      </div>






                  </div>
                      
                    <div class="info_col contact_loc">
                        <h2>Contact us</h2>
                        <p class="Wp-Body-P"><span class="Body-C-C16">LEAD</span><span class="Body-C-C22">PUMP </span><span class="Body-C-C24">Corporate Offices<br>1623 Central Avenue Suite #4682<br>Cheyenne, Wyoming 82001<br>(o)
                            xxx-<wbr>xxx-<wbr>xxxx<br>(f) 307-<wbr>316-<wbr>0442</span></p>
                        <p class="Wp-Body-P"><span class="Body-C-C24"><br></span></p>
                        <p class="Wp-Body-P"><span class="Body-C-C22"><br></span></p>
                        
                        
                        <div class= "footer_social_icon">
                          <h2>Follow us</h2>
                          <img src="/assets/social-media-logos-facebook.png" width="52" height="168" alt="social_icon" class="left_img1"/>
                          <img src="/assets/social-media-logos-linkedin.png" width="52" height="168" alt="social_icon" class="left_img1"/>
                          <img src="/assets/social-media-logos-twitter.png" width="52" height="168" alt="social_icon" class="left_img1"/>
                        </div>
                    </div>

                </div>
                
                <div class="contact_form">
                  <h2>Email us</h2>
                  <%= form_tag('/contact_form', method: :post, :id=>"contact_form", :class => "", :remote=>true) do |f| %>
                      <div class="contact_form_field">
                          <label>Your Name (required)</label>
                            <%= text_field_tag :contact_name, "", class: "contact_input" %>
                            <i style="color:#B43104" class="error_name"></i>
                        </div>
                        <div class="contact_form_field">
                          <label>Your Email (required)</label>
                            <%= text_field_tag :contact_email, "", class: "contact_input" %>
                            <i style="color:#B43104" class="error_email"></i>
                        </div>
                        <div class="contact_form_field">
                          <label>Subject</label>
                            <%= text_field_tag :contact_subject, "", class: "contact_input" %>
                        </div>
                        <div class="contact_form_field">
                          <label>Your Message</label>
                          <%=text_area_tag 'contact_message', nil, rows: 5, :class=>"contact_msg"%>
                        </div>
                        <span>
                          <input name="contact_form" type="button" class="contact_btn" value="Send"/>
                        </span>
                      <%end%>
                </div>
                
            </div>
        
        </div>
        <div class= "copyrht_col">
                  <div class="copylft">
                  <p class="Wp-Body-P">Copyright 2014 • All Rights Reserved • <span class="Body-C-C16">LEAD</span><span class="Body-C-C22">PUMP</span>™
                  </div>
                    <div class="copyrht">
                  <span class="Artistic-Body-C-C17"><%= link_to "Terms and Conditions", home_terms_path , :class=>"link" , style: "color: #69DCF4" %> • Privacy • Security </span>
                </div>
                  <p>
                </div>
    </div>


    
</div>

<div id="email_access" class="popup_container" style="width:700px;height:270px; padding:10px;display:none">
  <div style="font-size:20px;text-align:center;" class="small_popup">
    <span style="font-weight:bold;" class="email_access">
      <img src="/assets/ajax-loader.gif" class="sm_loader_margin" />
   </span>
 </div>
</div>
<script>
$(document).ready(function(){
       var msie6 = $.browser == 'msie' && $.browser.version < 7;
        var top = $('#test').offset().top;
        $(window).scroll(function () {
            if (!msie6) {
                if ($(this).scrollTop() >= top + 90) {
                    console.log(">>>>>>>>>>>>>>>>>>>");
                    $('#test').addClass('top_optin_bar');
                }
                else {
                    $('#test').removeClass('top_optin_bar');
                    console.log(">>Dfdfdfdfdffdfdfdfdf");
                }
            }
        });
});
</script>
 

<script type="text/javascript">
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0021/7530.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

  

