<!-- <div class="span4">

    <%= form_for @referral, :html => {:class => "forms"} do |ref| %>
    <%=render "common_templates/showerrors", :object=>@referral%>

    <div class="border app_header">
        <h2 class="heading headmsg">Add A New User</h2>
        <div class="form pd15 leadform">
             <p><%= lead.label "Name:" %><%= ref.text_field :name %></p>
             <p><%= lead.label "Email:" %><%= ref.text_field :email %></p>
             <p><%= lead.label "Referred By:" %><%= lead.text_field :refferred_by %></p>
             <input type="submit" class="btn yellow" value="Enter Lead"/>
        </div>        
    </div>    
    <%end%>    
</div> -->