<h2 class="heading">Add A New Mall Item</h2>
<%= form_for @onlinemall, :url=> @onlinemall.id.present? ? "/mall/update/#{@onlinemall.id}" : "/onlinemall",:method=>:post, :html => {:class => "form forms pd15", :style=>"font-size:13px;"} do |mall| %>
<%=render "common_templates/showerrors", :object=>@onlinemall%>
<p><%= mall.label "Title:" %><%= mall.text_field :title %></p>
<p><%= mall.label "Link:" %><%= mall.text_field :link %></p>
<%= hidden_field_tag :mallid%>
<p><%= mall.label "Description:" %>
	<%#= mall.cktext_area :description, :class => "someclass", :ckeditor => {:language => "uk"}%>
	<%= mall.text_area :description, :class => "ckeditor", :style=>"width:377px;" %></p>
<%= mall.fields_for :mallpic, Mallpic.new do |pic| %>
	<p><label>Image:</label><%= pic.file_field :avatar %>	</p>
<% end %>
<p><label>File:</label><%= mall.file_field :file %>
<span> must be pdf </p>
<p class="submitmallbtn"><input class="btn yellow mallsubmit" type="button" value="Add Mall Item"/></p>
<div class="clear"></div>
<%end%>