
<td><%=om.title%></td>
<td><%=fetchAssociate(om)%></td>
<td><%=om.description.present? ? om.description.html_safe : ''%></td>
<td>
    <%if om.mallpic.present?%>
    <%= image_tag om.mallpic.last.avatar.url(:thumb), :class=>"img-polaroid", :style=>"width:50px" %>
    <%else%>
    <img src="/assets/company-logo.png" class="img-polaroid" style="width:50px" >
    <%end%>
</td>
<td>
	<%if om.file.present?%>
        <%= image_tag om.file.url(:thumb), :class=>"img-polaroid", :style=>"width:50px" %>
    <%else%>
    	<img src="/assets/company-logo.png" class="img-polaroid" style="width:50px">
    <%end%>
</td>
<td><%=fetchcheckbox(om,current_user)%></td>
<td>
    <%if (om.user.id == current_user.id) || current_user.isAdmin%>
        <a class="edit_icon pull-left" href="javascript:void(0)"></a>
        <a class="delete_icon pull-left" href="javascript:void(0)"></a>
    <%end%>
</td>