<div class="wrapper">
    <div class="header" style="background:<%=@landpage.present? ? @landpage.header_color : '#e59c11'%>"></div>
    <div class="main_bg" style="background:<%=@landpage.present? ? @landpage.bg_color : '#62819d'%>">
        <div class="container">
            <h2 class="main_title"><%=@landpage.present? ? @landpage.header_text : 'Header Text'%></h2>
            <div class="full">
                <div class="left_col">
                    <div class="img">
                        <%=fetchlandpageheadimage(@landpage)%>
                        <%#if @preview.present?%>
                            <%#=fetchlandpreivewimage(@landpage)%>
                        <%#else%>
                            <%#=fetchlandpageheadimage(@landpage)%>
                        <%#end%>
                    </div>
                    <div class="form">
                        <h3>Fill out the form to receive your FREE trial</h3>
                        <%if @preview.present?%>
                            <%=render "common_templates/land_page/land_form_empt"%>
                        <%else%>
                            <%=render "common_templates/land_page/land_form"%>
                        <%end%>
                    </div>
                </div>
                <div class="right_col">
                    <p><%=@landpage.present? ? @landpage.intro_text : 'Intro Text'%>
                    </p>
                    <h2 class="trial">
                        <%=@landpage.present? ? @landpage.no_of_days : '1'%>-Days FREE</h2>
                     <div class="gym_logo">
                        <%if @ref.present?%>
                            <%=fetchCompanyLogo(@ref.fetchCompany)%>
                        <%elsif current_user.present?%>
                            <%=fetchCompanyLogo(current_user.fetchCompany)%>
                        <%end%>
                    </div> 
                    <div class="our_mission">
                        <h3>Our Mission</h3>
                        <p>
                            <%=@landpage.present? ? @landpage.mission_text : 'Mission Text'%>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>