<form>
    <p><label>*First Name</label><%= text_field_tag :name %></p>
    <p><label>*Last Name</label><%= text_field_tag :lname %></p>
    <p><label>*Email</label><%= text_field_tag :email %></p>
    <p><label>*Phone</label><%= text_field_tag :phone, "", class: "phone_text" %></p>
    <p><label>*Referring friends name</label><%= text_field_tag :user_id %></p>
    <p><label>&nbsp;</label><label>What are your goals</label></p>
    <p><label>Build Muscle</label><input type="checkbox" name="b_muscle" class="ml70"></p>
    <p><label>Lose Weight</label><input type="checkbox" name="l_weight" class="ml70"></p>
    <p><label>Tone</label><input type="checkbox" name="tone" class="ml70"></p>
    <p><label>Rehab</label><input type="checkbox" name="rehab" class="ml70"></p>
    <p><label>&nbsp;</label><span>* = Required Field</span></p>
    <p><label>&nbsp;</label>
    <span class="ref_submit">
        <button type="button" >Submit</button>
    </span>
    </p>
</form>
