<div class="pull-left span5 pd15">
	<div class="pull-left span3 pd15">
		Sales Analysis:
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr><td></td><td>Today</td><td>To Date</td></tr>
		</thead>
		<tbody>
			<tr>
				<td>Walk ins:</td>
				<td><%=@gross_values["g_tody".to_sym]["call".to_sym]%></td>
				<td><%=@gross_values["g_todate".to_sym]["call".to_sym]%></td>
			</tr>
			<tr>
				<td>Appointment Sets:</td>
				<td><%=@appointment["today_app".to_sym]%></td>
				<td><%=@appointment["to_dt_app".to_sym]%></td>
			</tr>
			<tr>
				<td>Telephone inquiries:</td>
				<td><%=@gross_values["g_tody".to_sym]["mail".to_sym]%></td>
				<td><%=@gross_values["g_todate".to_sym]["mail".to_sym]%></td>
			</tr>
			<tr>
				<td>Tours given:</td>
				<td><%=@gross_values["g_tody".to_sym]["net".to_sym]%></td>
				<td><%=@gross_values["g_todate".to_sym]["net".to_sym]%></td>
			</tr>
			<tr>
				<td>Membership sold:</td>
				<td><%=@gross_values["g_tody".to_sym]["g_mem".to_sym]%></td>
				<td><%=@gross_values["g_todate".to_sym]["g_mem".to_sym]%></td>
			</tr>
			<!-- <tr>
				<td>Total Sales:</td>
				<td><%=@gross_values["g_tody".to_sym]["total".to_sym]%></td>
				<td><%=@gross_values["g_todate".to_sym]["total".to_sym]%></td>
			</tr> -->
		</tbody>
	</table>
</div>