<tr id="prod_<%=@id%>">
	<td><%=@id%></td>
	<td>
		<input type="text" name="rep[<%=@id%>][s_type]" id="sale_prod_sale_report_s_type" >
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][contract]" id="sale_prod_sale_report_contract" class="isNormalText">
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][amount]" id="sale_prod_sale_report_amount" class="isNormalText">
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][eft]" id="sale_prod_sale_report_eft" class="isNormalText">
	</td>
	<td class="td200">
		<input type="text"  name="rep[<%=@id%>][name]" id="sale_prod_sale_report_name">
	</td>
	<td>
		<select name="rep[<%=@id%>][source]"><option value="Direct Mailer">Direct Mailer</option>
			<option value="Lead box">Lead box</option>
			<option value="LeadPump - Traditional">LeadPump - Traditional</option>
			<option value="LeadPump - Opt in">LeadPump - Opt in</option>
			<option value="Member Referral">Member Referral</option>
			<option value="Radio ad">Radio ad</option>
			<option value="Telephone inquiry">Telephone inquiry</option>
			<option value="Website">Website</option>
			<option value="Walk in">Walk in</option></select>
	</td>
</tr>