<tr id="prod_<%=@id%>">
	<td><%=@id%></td>
	<td>
		<input type="text" name="rep[<%=@id%>][s_type]" id="sale_prod_sale_report_s_type" >
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][contract]" id="sale_prod_sale_report_contract" class="isNormalText">
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][amount]" id="sale_prod_sale_report_amount" class="isNormalText">
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][cheque]" id="sale_prod_sale_report_cheque" class="isNormalText">
	</td>
	<td>
		<span class="dollar">$</span>
		<input type="text" name="rep[<%=@id%>][eft]" id="sale_prod_sale_report_eft" class="isNormalText">
	</td>
	<td class="td100">
		<input type="text"  name="rep[<%=@id%>][name]" id="sale_prod_sale_report_name">
	</td>
	<td>
		<input type="text" name="rep[<%=@id%>][source]" id="sale_prod_sale_report_source">
	</td>
	<td>
	</td>
	<td>
		<input type="text" name="rep[<%=@id%>][mem_no]" id="sale_prod_sale_report_mem_no" class="isNormalText">
	</td>
	<td>
		<input type="text" name="rep[<%=@id%>][commission]" id="sale_prod_sale_report_commission" class="isNormalText">
		<span class="remove_prod_row" style="cursor:pointer;"><img src="/assets/xclose.png" /></span>
	</td>
</tr>