<table class="table table-striped">
	<thead>
		<tr><td>No.</td><td>Membership Type</td><td>Total Contract Amount</td><td>Total Amount Collected</td><td>Monthly Dues Amount</td>
			<td class="td100">Name of the Member</td><td>Source</td></tr>
		</thead>
		<tbody>
			<%if @sale_tody.present?%>
				<% i = 0 %>
				<%@sale_tody.each do |prod|%>
					<%if prod.sale_reports.present?%>
						<%prod.sale_reports.each do |sale|%>
							<%i += 1%>
							<tr>
								<td><%=i%></td>
								<td><%=sale.s_type%></td>
								<td><%=!sale.contract.blank? ? "$#{sale.contract}" : ''%></td>
								<td><%=!sale.amount.blank? ? "$#{sale.amount}" : ''%></td>
								<td><%=!sale.eft.blank? ? "$#{sale.eft}" : ''%></td>
								<td><%=sale.name%></td>
								<td><%=sale.source%></td>
							</tr>
						<%end%>
					<%end%>
				<%end%>
			<%else%>
				<tr><td colspan="11">No data available</td></tr>
			<%end%>
		</tbody>
	</table>