<p>
    <%= sale.label "Walk ins" %>
    <%= sale.text_field :call, :value=>@gross_values["g_tody".to_sym]["call".to_sym], :class=>"isNormalText", :disabled=>"disabled" %>
</p>
<p>
    <%= sale.label "Telephone inquiries:" %>
    <%= sale.text_field :mail, :value=>@gross_values["g_tody".to_sym]["mail".to_sym],:class=>"isNormalText", :disabled=>"disabled" %>
</p>
<p>
    <%= sale.label "Appointment Set:" %>
    <%= sale.text_field :appointment, :value=>@appointment["today_app".to_sym], :class=>"isNormalText", :disabled=>"disabled" %>
</p>
<p>
    <%= sale.label "Tours given:" %>
    <%= sale.text_field :referral, :value=>@sociallead, :class=>"isNormalText", :disabled=>"disabled" %>
</p>
<p>
    <%= sale.label "Membership sold:" %>
    <%= sale.text_field :net, :value=>@gross_values["g_tody".to_sym]["g_mem".to_sym],:class=>"isNormalText", :disabled=>"disabled" %>
</p>
