<tr id="prod_<%=@id.present? ? @id : '1'%>">
	<td>1</td>
	<td>
		<%= rep.text_field :s_type, name: "rep[1][s_type]"  %>
	</td>
	<td>
		<span class="dollar">$</span>
		<%= rep.text_field :contract, name: "rep[1][contract]", :class=>"isNormalText" %>
	</td>
	<td>
		<span class="dollar">$</span>
		<%= rep.text_field :amount, name: "rep[1][amount]", :class=>"isNormalText" %>
	</td>
	<td>
		<span class="dollar">$</span>
		<%= rep.text_field :eft, name: "rep[1][eft]", :class=>"isNormalText"%>
	</td>
	<td class="td200">
		<%= rep.text_field :name, name: "rep[1][name]" %>
	</td>
	<td class="td150">
		<%= select_tag "rep[1][source]",  options_for_select(['Direct Mailer', 'Lead box', 'LeadPump - Traditional','LeadPump - Opt in', 'Member Referral','Radio ad','Telephone inquiry','Website','Walk in'])  %>
	</td>
	
</tr>

