<%=render "common_templates/showerrors", :object => @user%>
<div class="border">
	<h2 class="heading headmsg">Add A New User</h2>
	<div class="form pd15 leadform">
		<p><%= user.label :Name %><%= user.text_field :name %></p>
		<p><%= user.label :Email %><%= user.email_field :email %></p>
		<%if @company%>
			<p><label>Address</label><%= text_field_tag :address, @address.present? ? @address.address.present? ? @address.address : '' : ''%></p>
			<p><label>Phone</label><%= text_field_tag :phone, @address.present? ? @address.phone.present? ? @address.phone : '' : '', class: "phone_text"%></p>
			<p><label>Zip</label><%= text_field_tag :zip, @address.present? ? @address.zip.present? ? @address.zip : '' : '' %></p>
			<p><label>City</label><%= text_field_tag :city, @address.present? ? @address.city.present? ? @address.city : '' : '' %></p>
			<p><label>State</label><%= text_field_tag :state, @address.present? ? @address.state.present? ? @address.state : '' : ''%></p>
			<p><label>Country</label><%= text_field_tag :country, @address.present? ? @address.country.present? ? @address.country : '' : ''%></p>
		<%end%>
		<%=user.hidden_field :id%>
		<p class="submitUserBtn">
			<input type="submit" class="btn yellow" value="Create User"/>
		</p>
		<div class="clear"></div>
	</div>        
</div> 