<%=render "common_templates/showerrors", :object => @user%>
<div class="border">
	<h2 class="heading headmsg">Add A New User</h2>
	<div class="form pd15 leadform">
		<p><%= user.label :Name %><%= user.text_field :name %></p>
		<p><%= user.label :Email %><%= user.email_field :email %></p>
		<%=user.hidden_field :id%>
		<p class="submitUserBtn">
		<%if current_user.checkUserLimit %>
			<input type="submit" class="btn yellow" value="Create User"/>
		<%else%>
			<input type="button" class="btn yellow disabled" value="Create User"/>
		<%end%>	
		</p>
		<div class="clear"></div>
	</div>        
</div> 