
<td><%=user.name%></td>
<td><%=user.email%></td>
<td class="leadActive leadAction" id="status_<%=user.id%>">
	<span class="leadAction"><%=user.active ? 'Active' : 'Inactive'%></span>
</td>
<td class="leadAction">
	<%=link_to "Edit", "javascript:void(0)", html={:class=>"leadAction userEdit"}%> 
</td>    
