<div class="container">
   <div class="row-fluid">
   	<span class="formfields">
   	</span>
      <div class="span8 app_header" style="width: 78.811966%;margin-left: 8%;">
		  <div class="border" style="width:106%">
		   	   <h2 class="heading">Auto Responder Messages</h2>
			   <div class="" style="padding:20px;">
			   		<%= form_for @auto_res, :url => '/create_auto_responder', :method => :post, :html => { :class => "forms form"} do |res| %>

						<%if @auto_responder.present?%>
							<%=hidden_field_tag :ar_id, @auto_responder.map(&:id)%>
							<%@auto_responder.each_with_index do |row, index|%>
								<%=render "common_templates/responder_inner_html", :row_id=>row.id, :index=>index+1, :message=>row.message,:subject=>row.subject,:day=>row.day%>
						        
						    <%end%>
					    <%else%>
					    	<%(1..10).to_a.each do |row|%>
						        <%=render "common_templates/responder_inner_html", :row_id=>row, :index=>row, :message=>'',:subject=>'',:day=>1%>
						    <%end%>
					    <%end%>
					    <p>
					    	<label>From Email</label>
					    	<%=text_field_tag :from_email, current_user.from_email, :style=>"width:73%"%>
					    </p>
				    	<%=res.submit :submit, :class=>"btn yellow"%>
				    <%end%>
			   </div>
			</div>
		</div>
   </div>
</div>

        