<!-- <div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="signinCon">
				<div class="row-fluid">
					<span class="span12">
						<%= form_for @user, :url => "/update/#{@user.id}", :html => {:class => "form", } do |usr| %>

						<div class="errors">
							<% @user.errors.each do |attr, msg| %>
							<p> <%= "#{attr} #{msg}"%> </p>
							<% end %>
						</div>
						<h2>Create User</h2>
						<p><%= usr.label :Name %><%= usr.text_field :name %></p>
						<p><%= usr.label :Email %><%= usr.email_field :email %></p>
						<p><input class="btn yellow" type="submit" value="Update"></p>                            
						<%end%>
					</span>
				</div>

			</div>
		</div>
	</div>
</div> -->
<div class="container">
    <div class="row-fluid">
        <%= render 'form' %>            
    </div>
</div>