 
<div class="container wrapper">
    <%if current_user.isEmployee || current_user.isCompany%>
		  <div class="row-fluid">
	        <%=render "home/companyLogo"%>
	         <div class="row-fluid">
		    <div class="span10">
		        <%if current_user.isAdmin || current_user.isCompany%>
		            <div class="pull-left clear mt10">
		                <a class="btn yellow submitlogo">Upload Company Logo</a>
		                <%= form_for @picture, :url => '/createpic' ,:html => { :id => "c_logo" } do |form| %>
		                  <%= form.file_field :avatar, :style =>"display:none" %>
		                <% end %>
		            </div>
		        <%end%>
		        <div class="pull-left clear mt10">
		        	<div class="row-fluid" style="margin-bottom:11px;">
					    <div class="span2">
					        <div class="pull-left">
					            <%if @picture_user.present?%>
					                <%= image_tag @picture_user.viplogo.url(:medium), :class=>"img-polaroid", :style=>"width:100%;height:suto;" %>
					            <%else%>
					                <img src="/assets/company-logo.png" class="img-polaroid">
					            <%end%>
					        </div>
					    </div>
					</div>
	                <a class="btn yellow submitviplogo">Upload Social Inviter Process Logo</a>
	                <%= form_for @picture, :url => '/createvippic',:html => { :id => "viplogo" } do |form| %>
	                  <%= form.file_field :viplogo, :style =>"display:none" %>
	                <% end %>
	            </div>
		    </div>
		</div>
		</div>
    <%end%>
    <div class="row-fluid">
    	<div class="span12">
	        <ul class="settings_menu">
	        	<%if is_vip_allow(current_user)%>
		            <li>
		                <%=link_to "Manage Social Invite Messages", socialMessages_path, :class=> "btn yellow" %>
		            </li>
		             <li>
		                <%=link_to "Manage Landing Page", landpage_path, :class=> "btn yellow"%>
		            </li>
		             <li>
		                <%=link_to "Manage Vips Creation", "javascript:void(0)", :class=> "btn yellow vipseting"%>
		            </li>
	            <%end%>
	            <%if check_trial_period(current_user)%>
	            	<li>
		                <%=link_to "Cancel your trial", "javascript:void(0)", :class=> "btn yellow cancel_plan"%>
		            </li>
	            <%end%>
	        </ul>
    	</div>
    </div>
</div>
<div id="cancel_sub" class="popup_container">
  <div style="z-index:99999;top:3%">
    <div style="font-size:20px;text-align:center;" id="dltmall" class="small_popup">
  	<span style="font-weight:bold;">
		Are you sure that you want to cancel our trial.
		<div style="margin-top: 100px;">
			<span class="pop_yellow_btn cancel_subscription">Cancel Trial</span>
			<span class="pop_yellow_btn cancelFancybox">close</span>
		</div>
	</span>
  </div>
  </div>
</div>
<%=render "common_templates/popupContainer"%>
