
<div class="container wrapper" >
<div class="pre_formated_email social-fb">
    <div class="span4">
        <h3>Share this invitations on Facebook with one simple click</h3>
        <p class="text-center"><img src="/assets/facebook-icon.png"></p>
    </div>
    <div class="span7">
        <p>Enter facebook message that you want to send on facebook.</p>
        <form class="form">
            
            <%=text_field_tag :fbsubject, current_user.fetchfbsubject, :placeholder=>"Enter Subject Line Here."%>
            <textarea class="ckeditor">
                <%=current_user.fetchFacebookMessage%>
            </textarea>
            <span class="submitFmes">
                <a class="btn yellow" href="javascript:void(0)">Submit</a>
            </span>
        </form>
    </div>
</div>

<div class="pre_formated_email social-twit">
    <div class="span4">
        <h3>Share this invitations on twitter with one simple click</h3>
        <p class="text-center"><img src="/assets/twitter-icon.png"></p>
    </div>
    <div class="span7">
        <p>Enter Tweets message that you want to tweet on twiter.</p>
        <form class="form">
            <textarea class="ckeditor">
                <%=current_user.twitterMessage%>
            </textarea>
            <span class="submitTmes">
                <a class="btn yellow" href="javascript:void(0)">Submit</a>
            </span>
        </form>
    </div>
</div>

<div class="pre_formated_email">
    <div class="span4">
        <h3>Share this invitations on Gmail with one simple click</h3>
        <p class="text-center"><img src="/assets/mail-icon.png" /></p>
    </div>
    <div class="span7">
        <p>Enter Gmail message that you want to send on email.</p>
        <form class="form">
            <%=text_field_tag :emailsubject, current_user.fetchgmailsubject, :placeholder=>"Enter Subject Line Here."%>
            <textarea class="ckeditor">
                <%=current_user.fetchEmailMessage%>
            </textarea>
            <span class="submitGmes">
                <a class="btn yellow" href="javascript:void(0)">Submit</a>
            </span>
        </form>
    </div>
</div>

</div>