 <table class="table table-striped">  
  <thead>
    <tr>
      <th class="app_index">Time</th>
      <th class="app_index"> Schedule </th>
      <th class="app_index"> Submitted By </th>
      <th class="app_index"> Lead Name </th>
      <th class="app_index"> Date </th>
    </tr>
  </thead>
  <tbody>
    <% if @appointments.present? %>
      <% @appointments.each do |a| %>
        <tr>
          <% if a.appdateTime.present?%>
            <td class="time"><%= a.appdateTime.strftime("%I:%M %p") %></td>
            <td class="green_dark"> <%= a.task %>  </td>
            <td class="blue_dark"> <%= a.user.name.humanize if a.user.present? %>  </td>
            <td class="green_dark"> <%= a.lead.name %> </td>
            <td class="blue_dark"> <%= a.appdateTime.strftime("%Y-%m-%d") %>  </td>
          <%end%>
        </tr>
      <%end%>

       <% elsif @filter_appointment.present? %>
      <% @filter_appointment.each do |a| %>
        <tr>
          <% if a.appdateTime.present?%>
            <td class="time"><%= a.appdateTime.strftime("%I:%M %p") %></td>
            <td class="green_dark"> <%= a.task %>  </td>
            <td class="blue_dark"> <%= a.user.name.humanize if a.user.present? %>  </td>
            <td class="green_dark"> <%= a.lead.name %> </td>
            <td class="blue_dark"> <%= a.appdateTime.strftime("%Y-%m-%d") %>  </td>
          <%end%>
        </tr>
      <%end%>

    <%elsif @appointments.blank? || @filter_appointment.blank? %>
      <tr><td colspan="4"> No record found.</td></tr>
    <%end%>
  </tbody>
</table>
