 <table class="table table-striped">  
  <thead>
    <tr>
      <td style="width: 20%;">Time</td>
      <td> Appointment </td>
    </tr>
  </thead>
  <tbody>
    <% if @appointments.present? %>
      <% @appointments.each do |a| %>
        <tr>
          <% if a.appdateTime.present?%>
            <td class="time"><%= a.appdateTime.strftime("%I:%M %p") %></td>
            <td class="green_dark">
               <ul>
                <li><strong>Date:</strong> <%= a.appdateTime.strftime("%Y-%m-%d") %> </li>
                <li><strong>Submitted by: </strong><%= a.user.name.humanize if a.user.present? %></li>
              </ul>
            </td>
          <%end%>
        </tr>
      <%end%>

       <% elsif @filter_appointment.present? %>
      <% @filter_appointment.each do |a| %>
        <tr>
          <% if a.appdateTime.present?%>
            <td class="time"><%= a.appdateTime.strftime("%I:%M %p") %></td>
            <td class="green_dark">
               <ul>
                <li><strong>Date:</strong> <%= a.appdateTime.strftime("%Y-%m-%d") %> </li>
                <li><strong>Submitted by: </strong><%= a.user.name.humanize if a.user.present? %></li>
              </ul>
            </td>
          <%end%>
        </tr>
      <%end%>

    <%elsif @appointments.blank? || @filter_appointment.blank? %>
      <tr><td colspan="4"> No record found.</td></tr>
    <%end%>
  </tbody>
</table>
