<input type="hidden" name="app_date" id="app_date" value="<%=@appoint_date %>">
<input type="hidden" name="task" id="task" value= "<%=@appoint_task%>">

<!-- <input type="hidden" name="appointments" id="apt" value= "<%=@appointments%>"> -->



<!DOCTYPE html>
<html>
<head>


<script>

    $(document).ready(function() {
            // var appnt = $('#apt').val();
            // var dt = $('#apt.app_date').val();
            // var date = new Date(dt);
         var dt = "<%=@appoint_date %>";
         var tsk = "<%=@appoint_task%>";
         var dt_array = string_to_array(dt, ']');
         var tsk_array = string_to_array(tsk, ']');
         var dta = array_to_hash(dt_array, tsk_array);         
          $('#calendar').fullCalendar({
              theme: true,
              header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay'
              },

              editable: true,
              events: dta
          });
    });
    function string_to_array(str, sep) {
        str = str.replace(/\[/g, '').replace(/&quot;/g, '');
        var arr = str.split(sep);
        arr[arr.length - 1] = arr[arr.length - 1].replace(/\]/g, '');
        var arry = new Array();
        arr = arr[0].split(",")
        return arr;
    }
    function array_to_hash(dt_array, tsk_array){
          alert(dt_array);
          var dtar = new Array();
          for(i=0;i<=dt_array.length;i++){
            var date = new Date(dt_array[i]);
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var hsh = {title: tsk_array[i],start: new Date(y, m, d)}
            dtar.push(hsh);
         }
         return dtar;
    }
</script>
<style>

    body {
        margin-top: 40px;
        text-align: center;
        font-size: 13px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

    #calendar {
        width: 900px;
        margin: 0 auto;
        }

</style>
</head>
<body>
<div id='calendar'></div>
</body>
</html>
