<div class="container">
    <div class="row-fluid">
        <!-- <div class="span4 app_header">
            <div class="border">
              <h2 class="heading">New Appointment</h2> 
            <%= form_for @appointment, :html => {:class => "form pd15 leadform"} do |a| %>
                  <%if @appointment.errors.any? %>
                  <div class= "alert alert-error">
                    <% @appointment.errors.full_messages.each do |msg| %>
                        <h5> <%= msg %> </h5>
                    <% end %>
                     </div>
                    <% end %>
                             
                    <p><label> Name: </label><%= a.text_field :name %></p>
                    <p> <label>Phone: </label>
                        <%= a.text_field :phone %>
                    </p>
                    <p> <label>Email: </label> 
                       <%= a.email_field :email %>
                    </p>
                    <p> <label>Notes: </label> 
                        <%= a.text_field :notes %>
                    </p>
                    <p> <label>Dues value: </label>
                        <%= a.text_field :dues %>
                    </p>
                    <p> <label>Enrolment value: </label>
                       <%= a.text_field :enrol %>
                    </p>
                    
                    <p> <label>Appt. time: </label>
                        <%= a.text_field :app_time, :placeholder => "Time in text OR 12hr format" %>
                    </p>
                    <p> <label>Date of Appt: </label>
                        <%= a.text_field :app_date, :id=> "app_date" %>
                    </p>

                    <p> <label>Appt. source: </label>
                       <%= a.select :app_source, options_for_select([["BRS VIP", "vip"], ["BRS – Facebook", "brsf"], ["BRS – Twitter", "brst"], ["Member Referral", "mr"], ["Lead Box", "lb"], ["Phone", "ph"], ["Be Back", "bbk"],  ["DirectMail", "dm"], ["Radio Ad", "ra"]], :selected => @appointment.app_source), :prompt => "Select Source" %>
                    </p>
                    <p> <input class="btn yellow" type="submit" value="Add Appointment"/> </p>
                   
                    <div class="clear"></div>
                    <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                        <input class="span2 wd55" type="text" value="12-02-2012">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                 <%end%>
            </div>
        </div> -->
        <div class="span8 app_header" style="width:100%;">
            <div class="border calender">
                <h2 class="heading">Appointments</h2>
                 <div class="heading leadHeading">
                   <%= text_field_tag 'date_filter', nil, :class=>"date_app", :placeholder=>"Date" %> 
                 </div>
                   <div id= "appt_table">
                     <%= render 'index' %>
                  </div>
               </div>
        </div>
    </div>
</div>