<%= stylesheet_link_tag 'index_css' %>
<%= javascript_include_tag "signup" %>



<div class="container">
    <div class="row-fluid">
        <div class="span12 text-center pricing_plans_heading">
            <h2>Start Your 30-Day FREE No Obligation Trial Today</h2>
            <h3 style="font-size:28px;margin-top:24px">Choose which plan you would like a free trial of. The “Professional</br> 
Plan” is our most popular and recommend.</h3>
        </div>
    </div>
    <div class="step_col">
          <div class="step_col_box">
              <div class="step_col_box_top">
                  <h5>BASIC</h5>
                    <h2>$27<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_17" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                <p class="package_content">
                  <h1>Get all Advanced features</h1>
                    <h2 style="margin-top:14px;">CRM - up to 1000 contacts</h2>
                    <h2>Calendar</h2>
                    <h2>Lead dashboard</h2>
                    <h2>Team management</h2>
                    <h2>Cloud Storage</h2>
                </p>
                </div>
            </div>
            <div class="step_col_box">
              <div class="step_col_box_top">
                  <h5>ADVANCED</h5>
                    <h2>$37<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_18" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                <p class="package_content">
                  <h1>Get all Advanced features
                    <span>PLUS</span>
                  </h1>
                  <h2>CRM - up to 1000 contacts</h2>
                  <h2>Daily sales reports</h2>
                  <h2>Monthly sales projections</h2>
                  <h2>Full dashboard enabled</h2>
                  <h2>POS referrals up to 25</h2>
                </p>
                </div>
            </div>
            <div class="step_col_box">
                <div class="blue_box_rounded">Recommended  Plan</div>
              <div class="step_col_box_top">
                  <h5>PROFESSIONAL</h5>
                    <h2>$67<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_19" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                  <h1>Get all Advanced features
                    <span>PLUS</span>
                  </h1>
                    <h2>CRM - unlimited contacts</h2>

                     <h3>  <strong>LEAD<span>PUMP</span></strong> - Mass Pass</h3>
                      <p> Your member can send 100’s of  guest passes to friends, family members and co-workers at once through email, facebook, twitter. This is not grandmas “like it” or “share it” button! </p>

                 <h3> Enhanced tracking</h3>
                         <p>  Track your members guest invitations that have been sent, opened and those that convert to prospects back to the sales representative and to the referring member. </p>

                      <h3> Electronic guest registration</h3>
                      <p>  Walk-ins electronically complete guest registration, provide valuable sales insight information and sign liability waiver. Guests turn into prospects and automatically load into your CRM. Full proof. </p>

                      <h3>  Automatic follow up</h3>
                      <p> Regardless of your staffs follow through, new leads never fall through the cracks. Design up to 10 messages that automatically go out creating urgency to start a fitness program at your facility. Full proof. </p>
                   
                </div>
            </div>
            <div class="step_col_box ">
              <div class="step_col_box_top">
                  <h5>PROFESSIONAL PLUS</h5>
                    <h2>$97<span>User/month</span></h2>
                    <span class="try_free_btn"><a href="javascript:void(0)" data-id='<%=@user.present? ? "#{@user.id}_20" : ""%>'> Try It For FREE &gt; </a> </span>
                </div>
                <div class="step_col_box_btm">
                <p class="package_content">
                  <h1>Get all Professional features
                    <span>PLUS</span>
                  </h1>
                    <h3>Spokesperson</h3>
                      <p> Our spokesperson walks out on the screen of your lead gathering web page and    encourages the potential member to take that first step in starting a fitness program.
                      </p>
                      
                      <h3>Masterminds</h3>
                    <p>Access to monthly mastermind meetings. In these sessions you will gain valuable insight how to maximize your results by combining LEAD<span>PUMP</span> with out-of-the-box strategies. </p>
                </p>
                </div>
            </div>
        </div>
</div>

<div id="register_steps" style="display:none;">
    <div style="font-size:20px;text-align:center" class="first_step">
      <div style="position:relative;height:510px;width:900px;padding: 0px 30px;">
          <img src="/assets/ajax-loader.gif" style="padding:20%" />
        </div>
 </div>
</div>
