  
<div class="container">
  <div class="row-fluid">
    <div class="span12 text-center">
      <h2>Pricing plan Ending soon!</h2>
      <h3>Which Edition is right for you?</h3>
    </div>
  </div>
  <div class="row-fluid no-space">
    <% @plans.each_with_index do |plan, i| %>
    <div class="span3">
      <div class="pricing_table <%= i == 2 ? 'activetable' : '' %> ">
        <div class="pricing_table_head <%= i == 3 ? 'last' : ''%>">
          <h3><%="#{plan.name}"%></h3>
          <div class="detail">
            <p><span class="subheading"><i>$</i><strong><%="#{plan.price}"%></strong><span>user/month</span></span></p>
            <strong><%="#{plan.user_position}"%></strong>
          </div>
        </div>
        <table class="table table-striped <%= i == 3 ? 'last' : ''%>">
          <tbody>
            <tr><td><p>Number of user</p><strong>Up to <%=plan.number_of_user%></strong></td></tr>
            <tr><td><p>Lead Management</p><strong>Up to <%=plan.lead_management%> Contacts</strong></td></tr>
            <tr><td><p>Apportunity Dashboard</p>
              <strong>
                <%if plan.apportunity_dashboard%>
                <%= image_tag("right.png") %>
                <%else%>
                <%= image_tag("cross.png") %>
                <%end%>
              </strong>
            </td></tr>
            <tr><td><p>Team Management</p>
              <strong>
                <%if plan.team_management%>
                <%= image_tag("right.png") %>
                <%else%>
                <%= image_tag("cross.png") %>
                <%end%>
              </strong>
            </td></tr>
            <tr><td>
              <p>Daily Sales Report</p>
              <strong>
                <strong>
                  <%if plan.team_management%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Monthly Sales Projections</p>
              <strong>
                <strong>
                  <%if plan.team_management%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Full Dashboard Enabled</p>
              <strong>
                <strong>
                  <%if plan.full_dashboard_enabled%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Tradional Refferals (3-5)</p>
              <strong>
                <strong>
                  <%if plan.traditional_refferals%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Leadpump Socail Inviter</p>
              <strong>
                <strong>
                  <%if plan.leadpump_social_inviter%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Email-Facebook-Twitter</p>
              <strong>
                <strong>
                  <%if plan.socail_refferals != ''%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Online-Mall(members rewards)</p>
              <strong>
                <strong>
                  <%if plan.online_mall%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Daily Team Usage Report</p>
              <strong>
                <strong>
                  <%if plan.daily_team_usage_report%>
                  <%= image_tag("right.png") %>
                  <%else%>
                  <%= image_tag("cross.png") %>
                  <%end%>
                </strong>
              </strong>
            </td></tr>
            <tr><td>
              <p>Unlimited Team Training</p>
              <strong>
                <strong>
                 <%if plan.unlimited_team_training%>
                 <%= image_tag("right.png") %>
                 <%else%>
                 <%= image_tag("cross.png") %>
                 <%end%>
               </strong>
             </strong>
           </td></tr>
           <tr><td>
            <p>Unlimited Support</p>
            <strong>
              <strong>
                <%if plan.unlimited_support%>
                <%= image_tag("right.png") %>
                <%else%>
                <%= image_tag("cross.png") %>
                <%end%>
              </strong>
            </strong>
          </td></tr>
          <tr><td>
            <p>National SpokesWomen</p>
            <strong>
              <strong>
                <%if plan.national_spokeswoman%>
                <%= image_tag("right.png") %>
                <%else%>
                <%= image_tag("cross.png") %>
                <%end%>
              </strong>
            </strong>
          </td></tr>

          <tr><td>
            <%= link_to "Sign up", new_user_registration_path(:plan_id => plan), html_options = {:class => "btn yellow"} %>
            </td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  </div>
</div>