<%= form_for(@discounts_on_period) do |f| %>
  <% if @discounts_on_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discounts_on_period.errors.count, "error") %> prohibited this discounts_on_period from being saved:</h2>

      <ul>
      <% @discounts_on_period.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :periodType %><br />
    <%= f.text_field :periodType %>
  </div>
  <div class="field">
    <%= f.label :discountPercentage %><br />
    <%= f.number_field :discountPercentage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
