<h1>Listing discounts_on_periods</h1>

<table>
  <tr>
    <th>Periodtype</th>
    <th>Discountpercentage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts_on_periods.each do |discounts_on_period| %>
  <tr>
    <td><%= discounts_on_period.periodType %></td>
    <td><%= discounts_on_period.discountPercentage %></td>
    <td><%= link_to 'Show', discounts_on_period %></td>
    <td><%= link_to 'Edit', edit_discounts_on_period_path(discounts_on_period) %></td>
    <td><%= link_to 'Destroy', discounts_on_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discounts on period', new_discounts_on_period_path %>
