							
<span class="credit_fild_col mb2"><%= label_tag "Company Name" %><%= text_field_tag :company_name, @user.present? ? @user.company_name : "" %></span>
<span class="credit_fild_col mb2"><%= label_tag :Address %><%= text_field_tag "address[address]", @add.present? ? @add.address : "" %></span>
<span class="credit_fild_col mb2">
	<%= label_tag :City %><%= text_field_tag  "address[city]", @add.present? ? @add.city : ""%>
</span>
<span class="credit_fild_col mb2">
	<label class="credit_fild_col">Zip</label><%= text_field_tag "address[zip]", @add.present? ? @add.zip : "" %>
</span>
<span class="credit_fild_col mb2"><label>State/Region</label><%= text_field_tag "address[state]", @add.present? ? @add.state : "" %></span>
<span class="credit_fild_col mb2"><%= label_tag :Phone %><%= text_field_tag "address[phone]", class: "phone_text", @add.present? ? @add.phone : "" %></span>
<span class="credit_fild_col mb2"><%= label_tag :Country %><%= country_select("address", "country")%>
 </span>
<div class="clear"></div>				
