							
<h2><span class="number">2</span>Your billing address</h2>
<p><%= label_tag :name %><%= text_field_tag :name %></p>
<p><%= adr.label :Address %><%= adr.text_field :address %></p>
<p>
	<%= adr.label :City %><%= adr.text_field :city, :class=>"city-input city_input" %>
	<%= adr.label :Zip, :class=>"city_label" %><%= adr.text_field :zip, :class=>"input-small"%>
</p>
<p><%= adr.label "Region/State" %><%= adr.text_field :state %></p>
<p><%= adr.label :Phone %><%= adr.text_field :phone %></p>
<p><%= adr.label :Country %><%= country_select("address", "country") %>
  </p>
<div class="clear"></div>				
