							
<span class="credit_fild_col"><%= label_tag "Company Name" %><%= text_field_tag :company_name %></span>
<span class="credit_fild_col"><%= label_tag :Address %><%= text_field_tag "address[address]" %></span>
<span class="credit_fild_col">
	<%= label_tag :City %><%= text_field_tag  "address[city]"%>
</span>
<span class="credit_fild_col">
	<label class="city_label">Zip</label><%= text_field_tag "address[zip]"%>
</span>
<span class="credit_fild_col"><label>State/Region</label><%= text_field_tag "address[state]" %></span>
<span class="credit_fild_col"><%= label_tag :Phone %><%= text_field_tag "address[phone]" %></span>
<span class="credit_fild_col"><%= label_tag :Country %><%= country_select("address", "country")%>
 </span>
<div class="clear"></div>				
