							
<h2><span class="number">2</span>Your billing address</h2>
<p><%= adr.label :Address %><%= adr.text_field :address %></p>
<p><%= adr.label :City %><%= adr.text_field :city %></p>
<p><%= adr.label :Zip %><%= adr.text_field :zip %></p>
<p><%= adr.label :State %><%= adr.text_field :state %></p>
<p><%= adr.label :Phone %><%= adr.text_field :phone %></p>
<p><%= adr.label :Zip %><%= adr.text_field :zip %></p>							
<div class="clear"></div>				
