<div class="divFull">
	<div class="trialOptn">
	<span class="daysTrial">
	<strong>30-day Free Trial-</strong>
	We won't bill you unless you keep your account open past your 30-day free trial, which starts today.
	</span>
	<span class="credit_fild_col">
		<label> </label>
		<div class="paymentOptCon">
		<% if DiscountsOnPeriod.all %>
		<% DiscountsOnPeriod.all.each_with_index do |dp, ind| %>
		<label class="checkboxCon <%=ind == 0 ? 'mb-15' : ''%>">
			<input type='radio' class="plant <%=dp.periodType%>" id="planType_<%=dp.id%>" name="planType" value="<%=dp.id%>" <%if ind == 0%>checked='checked'<%end%>/>
			<strong>Pay 
				<%= "#{dp.periodType}"%>
				<%if dp.discountPercentage > 0%>
				<span>(save <%="#{dp.discountPercentage}" %>%)</span>
				<%end%>
			</strong>
		</label>
		
		<% end %>
		<% end %>
		</div>
	</span>
	</div>
	<div class="days30">
	<img src="/assets/30days.png">
	</div>
</div>
<div class="clear"></div>
