
<div class="modal-header">
        <button type="button" class="close cancelFancybox" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Lead</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped" style= "width:600px">
            <!-- <thead>
                <tr><td>#</td><td>Name</td><td>Email</td></tr>
            </thead> -->
            <tbody>
                <tr><td>FistName</td><td>-</td><td><%=@lead.name%></td></tr>
                <tr><td>LastName</td><td>-</td><td><%=@lead.lname%></td></tr>
                <tr><td>Email</td><td>-</td><td><%=@lead.email%></td></tr>
                <tr><td>Phone</td><td>-</td><td><%=@lead.phone%></td></tr>
                <tr><td>Address</td><td>-</td><td><%=@lead.address%></td></tr>
                <tr><td>Reffered-By</td><td>-</td><td><%=@lead.refferred_by%></td></tr>
                <tr><td>Lead-Source</td><td>-</td><td><%=@lead.lead_source%></td></tr>
                <tr><td>Goals</td><td>-</td><td><%=@lead.goal%></td></tr>
                <tr><td>Guest-Pass-Issued</td><td>-</td><td><%=@lead.guest_pass_issued%></td></tr>
                <tr><td># of days</td><td>-</td><td><%=@lead.no_of_days%></td></tr>
                <%if action_name != "createtask"%>
                    <tr><td>Potential-Enrolment</td><td>-</td><td><%=@lead.enrolment_value%></td></tr>
                    <tr><td>Potential-Dues</td><td>-</td><td><%=@lead.dues_value%></td></tr>
                    <tr class="Note_row">
                        

                        <td>Add Notes:</td>
                        <td colspan="2">
                            <textarea name="lead_notes" id="lead_text" style="width:320px;height:54px;float: left;"></textarea>
                            <a href="javascript:void(0)" class="btn yellow add_notes" id="lead_notes" data-id="<%=@lead.id%>">Add</a>
                        </td>
                <%end%>
                </tr>
                <%= gettimestams(@lead) %>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <%if @home%>
            <a href="javascript:void(0)" class="btn yellow read_feed" id="lead_<%=@lead.id%>">Complete</a>
        <%end%>
        <a href="javascript:void(0)" data-dismiss="modal" class="btn yellow cancelFancybox">Cancel</a>
    </div>