
<div class="modal-header">
        <button type="button" class="close cancelFancybox" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Invite Friends Via Email</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr><td>#</td><td>Email</td><td>Name</td></tr>
            </thead>
            <tbody>
              <%if @contacts.present?%>
              <tr>
                  <td colspan="2">
                    <label class="select_all"><%=check_box_tag "select_all", 'yes', true, :class => 'mr2' %>Select All</label>
                  </td>
                  <td><label class="select_none"><%=check_box_tag "deselect_all", 'yes', false, :class => 'mr2' %>Select None</label></td>
                  <tr>
                <% @contacts.each do |contact| %>

                  <tr>
                    <td><%=check_box_tag "freindId_#{contact.id}", 'yes', true, :class => 'gmailContactChekbox chekboxess' %></td>
                    <td class="email_label"><%=contact.email%></td>
                    <td><%=contact.name.humanize%></td>
                  </tr>
                <%end%>
              <%else%>
                <tr rowspan="4">
                    <td>No record found.</td>
                </tr>
              <%end%>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <p class="sendReferralEmailBtn"><a class="btn yellow" href="javascript:void(0)">Send Invitations</a></p>
    </div>
