<h1>Listing discounts_on_users</h1>

<table>
  <tr>
    <th>Userranges</th>
    <th>Discountpercentage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts_on_users.each do |discounts_on_user| %>
  <tr>
    <td><%= discounts_on_user.userRanges %></td>
    <td><%= discounts_on_user.discountPercentage %></td>
    <td><%= link_to 'Show', discounts_on_user %></td>
    <td><%= link_to 'Edit', edit_discounts_on_user_path(discounts_on_user) %></td>
    <td><%= link_to 'Destroy', discounts_on_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discounts on user', new_discounts_on_user_path %>
