<footer>
    <div class="container">
        <div class="row-fluid">
            <div class="fl span4">
                <span class="fl">Copyrights 2013 @ buddy referrer</span>
            </div>
            <div class="fr span8">
                <ul class="fr footer-nav">
                    <li><%= link_to "Plan", "#" %></li>
                    <li><%= link_to "About", "#" %></li>
                    <li><%= link_to "Contact", "#" %></li>
                    <li><%= link_to "Term & Conditions", "#" %></li>
                    <li><%= link_to "Privacy policy", "#" %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>