
       
<header>
    <div class="container">
        <h2 class="fl"><a href="#">Company logo</a></h2>
        <div class="fr">
            <ul class="fr usernav">
                <%- if current_user.id %>
                    <li> <%= link_to "Logout", "users/logout"%></li>
                <%else%>
                    <li> <%= link_to "Log in", "users/sign_in"%></li>
                <%end%>
            </ul>
            <div class="clear"></div>
            <div id="headerNav" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn yellow btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse fr">
                            <ul class="nav">
                                <li><%= link_to "Home", home_index_path, :class => "active" %></li>
                                <li><%= link_to "Plan", "#" %></li>
                                <li><%= link_to "About", "#" %></li>
                                <li><%= link_to "Contact us", "#" %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>





