<header>
    <div class="container">
        <h2 class="fl">
            <%- if current_user %>
                <%=link_to home_index_path do%>   
                  <img src="/assets/logo.png">
                <%end %>
            <%else%>
                <%=link_to admin_index_path do%>   
                  <img src="/assets/logo.png">
                <%end %>
            <%end%>
            
        </h2>
        <ul class="pull-left punchline">
            <li><i class="txt_red">Pump</i> Up Leads,</li> 
            <li>Pump <i class="txt_red">Up</i> Sales,</li>
            <li>Pump Up <i class="txt_red">Profits</i>.</li>
        </ul>
         <ul class="fr usernav">
                <li> 
                <%- if current_user %>
                <%=link_to destroy_user_session_path, :method => :delete do%>   
                  <i class="icon-chevron-right icon-white icon_login"></i>
                  Logout
                <%end %>
                <%else%>
                    <%=link_to new_user_session_path do %>
                      <i class="icon-chevron-right icon-white icon_login"></i>Login<%end %>
                <%end%>
                </li>
            </ul>
            <div class="clear"></div>
        <div class="fr">
            <div id="headerNav" class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn yellow btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse fr">
                            <ul class="nav">
                                <%- if current_user %>
                                    <li><%= link_to "Home", home_index_path, :class => "active" %></li>
                                <%else%>
                                    <li><%= link_to "Home", welcome_path, :class => "active" %></li>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
           

        </div>
    </div>
</header>

