<header>
  <div class="container">
    <h2 class="fl">                                                                    
      <%= link_to "Company logo", "javascript:void(0)" %>
    </h2>
    <div class="fr">
      <ul class="fr usernav">
        <% if user_signed_in? %>
        <li><%current_user%></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path, :class=>"icon-chevron-right icon-white icon_login") %>  
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
      <div id="headerNav" class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn yellow btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><%= link_to "Home", "#", :class => "home_icon" %></li>
                <li><%= link_to "Plan", "#" %></li>
                <li><%= link_to "About", "#" %></li>
                <li><%= link_to "Contact us", "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>




