<!DOCTYPE html>
<html>
<head>
  <title>Leadpump</title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY %>
  <%= tag :meta, :name => 'viewport', :content => "width=device-width, initial-scale=1.0" %>
</head>
<body>
<%= render 'layouts/header' %>
 <% if flash[:error] %>
    <p class="flashes alert alert-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flashes alert alert-info"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="flashes alert alert-block"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:success] %>
    <p class="flashes alert alert-success"><%= flash[:success] %></p>
  <% end %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
