<!DOCTYPE html>
<html>
<head>
  <title>Leadpump</title>
   <%= stylesheet_link_tag  "application", "jquery-ui-1.10.3.custom.min.css",'table_css/main.css','table_css/reset.css', :media => "all" %>
   <%= stylesheet_link_tag 'application-print', :media => 'print' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery-ui-1.10.3.custom.min.js','autocomplete-rails.js', 'rails.js','data-turbolinks-track','subscriptions.js.coffee','autocomplete.js.coffee' %>
    <%= javascript_include_tag '/javascripts/ckeditor/ckeditor.js' %>
  <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY %>
  <%= tag :meta, :name => 'viewport', :content => "width=device-width, initial-scale=1.0" %>
</head>
<body>

<script type="text/javascript" charset="utf-8">var ROOT_PATH = '<%= root_url %>';</script>  
<script src="//js.live.net/v5.0/wl.js"></script>
<%= render 'layouts/header' %>
 <% if flash[:error] %>
    <p class="flashes alert alert-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flashes alert alert-info"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="flashes alert alert-block"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:success] %>
    <p class="flashes alert alert-success"><%= flash[:success] %></p>
  <% end %>
   <!--  <p class="flashes successMsg"></p> -->
  <script type="text/javascript">
      emailAuth = '<%=@emailAuth %>';
      tokend = '<%=@token%>';
  </script>
  <%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
